<style>
  #clinic{
      width: 100%;
      margin-top: 80px;
  }
.answer_name, .answer_value{
    padding: 6px;
    font-size: 1.0em;
    border: 1px solid #d3d3d3;
}

.answer_name{
    padding-left: 3% !important;
}
  .answer_value{
      font-weight: bold;
      width: 20%;
      text-align: center;
  }
  caption{
      font-size: 1.4em;
      font-weight: bold;
  }

.inner-table{
   width: 100%;
}
.topic{
    cursor: pointer;
    border-radius: 10px;
    background: #d3d3d3;
    font-size: 1.2em;
    padding: 10px;
    font-weight: bold;
    color: darkslategray;
    border: 1px solid #696969;
    padding-left: 20px;
}

.active{
    background: lightblue;
}
.alert-none{
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 1.5em;
}
</style>
<div id="clinic">

    <table style="width: 100%; margin: auto;">
      <caption style="padding-top: 5px;width:100%;margin: auto;background-color: #b9c7cc;"> Nutrition Summary</caption>
      <tr>
        <td valign="top" style="padding: 5px;width:40%;border: 1px solid gray;">
          <div style="height: 25vh;overflow: auto;">
              <table style="width: 100%;">
                    <tr>
                      <td class="topic active" onmousedown="load(this, 'present')">Symptoms present (<%= (@clinical_encounter || []).length%>)</td>
                    </tr>
                    <tr>
                      <td class="topic" onmousedown="load(this, 'not_present')">Symptoms not present (<%= @symptoms_not_available.length %>)</td>
                    </tr>
                    <tr>
                      <td class="topic"  onmousedown="load(this, 'danger_signs')">Danger signs (<%= @danger_signs.length%>)</td>
                    </tr>
                    <% if @group.downcase.strip == 'group 2' && @current_pregnancy_status['PREGNANCY STATUS'] == ['Pregnant'] %>
                        <tr>
                          <td class="topic" onmousedown="load(this, 'medicines')">Medicines/supplements in current pregnancy(<%= @medicines.length%>)</td>
                        </tr>
                    <% end %>

                    <% if @patient_obj.age <= 2 %>
                        <tr>
                          <td class="topic" onmousedown="load(this, 'feeding_challenges')">Conditions interfering with breastfeeding <%= @feeding_challenges.length%></td>
                        </tr>
                    <% end %>
              </table>
          </div>
        </td>

        <td valign="top" style="padding: 5px;width:60%;border: 1px solid gray;">
          <div style="height: 25vh;overflow: auto;">
              <table id="present" class="inner-table">
                <% (@clinical_encounter || []).each do |name| %>
                    <tr class ="<%= cycle('even', 'odd')%> ">
                      <td class="answer_name"><%= name %></td>
                    </tr>
                <% end
                   if @clinical_encounter.blank?
                %>
                    <tr class ="<%= cycle('even', 'odd')%> ">
                      <td class="alert-none">No symptoms available<span style="">!</span></td>
                    </tr>
                <% end %>
              </table>

            <table id="danger_signs" class="inner-table" style="display: none">
              <% (@danger_signs || []).each do |name| %>
                  <tr class ="<%= cycle('even', 'odd')%> ">
                    <td class="answer_name"><%= name %></td>
                  </tr>
              <% end
              if @danger_signs.blank?
              %>
                  <tr class ="<%= cycle('even', 'odd')%> ">
                    <td class="alert-none">No danger signs available<span style="">!</span></td>
                  </tr>
              <% end %>
            </table>

            <table id="not_present" class="inner-table" style="display: none">
              <% (@symptoms_not_available || []).each do |name| %>
                  <tr class ="<%= cycle('even', 'odd')%> ">
                    <td class="answer_name"><%= name %></td>
                  </tr>
              <% end

                 if @symptoms_not_available.blank?
              %>
                  <tr class ="<%= cycle('even', 'odd')%> ">
                    <td class="alert-none">None available<span style="">!</span></td>
                  </tr>
              <% end %>
            </table>

            <table id= "medicines" class="inner-table" style="display: none">
              <% (@medicines || []).each do |name| %>
                  <tr class ="<%= cycle('even', 'odd')%> ">
                    <td class="answer_name"><%= name %></td>
                  </tr>
              <% end

                 if @medicines.blank?
              %>
                  <tr class ="<%= cycle('even', 'odd')%> ">
                    <td class="alert-none">No medicines/supplements available<span style="">!</span></td>
                  </tr>
              <% end %>
            </table>

            <table id="feeding_challenges" class="inner-table" style="display: none">
              <% (@feeding_challenges || []).each do |name| %>
                  <tr class ="<%= cycle('even', 'odd')%> ">
                    <td class="answer_name"><%= name %></td>
                  </tr>
              <% end

                 if @feeding_challenges.blank?
              %>
                  <tr class ="<%= cycle('even', 'odd')%> ">
                    <td class="alert-none">None feeding challenges available<span style="">!</span></td>
                  </tr>
              <% end %>
            </table>
          </div>
        </td>
      </tr>
    </table>
</div>

<script>
  function load(item, id){
      var nodes = document.getElementsByClassName("topic");
      var cur_node = __$(id);
      for(var i = 0; i < nodes.length; i ++){
          nodes[i].style.background = "#d3d3d3";
      }
      item.style.background = "lightblue";

      var tables = document.getElementsByClassName("inner-table");
      for(var i = 0; i < tables.length; i ++){
          tables[i].style.display = "none";
      }

      cur_node.style.display = "table";
  }
</script>
