<style>
  #clinic{
      width: 100%;
      height: 20%;
      margin-top: 80px;
  }
.answer_name, .answer_value{
    padding: 8px;
    font-size: 1.0em;
    border: 1px solid #d3d3d3;
}

.answer_name{
    padding-left: 3% !important;
}
  .answer_value{
      font-weight: bold;
      width: 20%;
      text-align: center;
  }
  caption{
      font-size: 1.4em;
      font-weight: bold;
  }

.inner-table{
   border: 1px solid darkgray;
   width: 100%;
}

</style>
<div id="clinic">

    <table style="width: 97%; margin: auto; height: 100%;">
      <caption style="padding-top: 10px;width:98%;margin: auto;background-color: #d3d3d3;"> Nutrition Summary</caption>
      <tr>
        <td valign="top" style="padding: 5px;width:50%;border: 1px solid gray;">
          <table class="inner-table">
            <% (@clinical_encounter_1 || []).each do |name| %>
                <tr class ="<%= cycle('even', 'odd')%> ">
                  <%
                    nm = (name.scan(/Fever|Diarrhoea|Vomiting|Malnourished|HIV-Positive|Tuberculosis|Anemia|Hypertension/i)[0] rescue name) || name
                  %>
                  <td class="answer_name"><%= nm.humanize %></td>
                  <td class="answer_value"><%= @clinical_encounter[name].join(', ') %></td>
                </tr>
            <% end %>
          </table>
        </td>

        <td valign="top" style="padding: 5px;width:50%;border: 1px solid gray;">
          <table class="inner-table">
            <% (@clinical_encounter_2 || []).each do |name| %>
                <tr class ="<%= cycle('even', 'odd')%> ">
                  <%
                     nm = (name.scan(/Fever|Diarrhoea|Vomiting|Malnourished|HIV-Positive|Tuberculosis|Anemia|Hypertension/i)[0] rescue name) || name
                  %>
                  <td class="answer_name"><%= nm.humanize %></td>
                  <td class="answer_value"><%= @clinical_encounter[name].join(' ,') %></td>
                </tr>
            <% end %>
          </table>
        </td>
      </tr>
    </table>
</div>
