<%@patient_obj = PatientService.get_patient(params[:patient_id]) if (@patient_obj.blank? rescue true)%>
<style>
/* .......................... demographics css starts ................................. */
.demographics {
  position: fixed;
  width: 99%;
  top: 0px;
  left: 5px;
  margin: auto;
  padding: 0px 1px 0px 1px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  color: black;
  background: white;
}

.main-page-container-rows  {
  display: table-row;
}

.cells {
    display: table-cell;
    vertical-align: top;
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 0px !important;
}

.gender-icon {
    width: 60px !important;
    height: 60px !important;
}

.demographics-table {
  width: 100%;
}

.attributes-table {
  width: 100%;
}

.main-container th {
  font-size: 13px;
  text-align: left;
}

.village-reach-icon {
  width: 60px !important;
  height: 60px !important;
  padding: 0px;
  border-right: 1px solid #000000 !important;
  float: right;
}
.value{
    font-size: 0.8em;
    padding: 3px;
    width: 60%;
}
.titl{
    font-size: 0.8em !important;
    width: 40%;
    text-align: left;
    background: white !important;
    padding: 3px;
}

.icons{
    margin-top: 0px !important;
}
/* ........................................................... */
</style>

<% mnch = false%>
<%
   @infant_age = PatientService.get_infant_age(@patient_obj) if @patient_obj.age < 1

   gender = @patient_obj.sex
   gender = gender == 'F' ? 'Female' : 'Male'

    if gender == 'Female' || @patient_obj.age <= 5
        mnch = true
    end
%>

  <div class="demographics">

    <div class="cells" style="width: 5%; text-align: left;display: table-cell;">
      <span class="icons">

        <%=image_tag("icons/Person_Undefined_#{gender}_Dark.png", class: 'icons gender-icon')%>
      </span>
    </div>

    <div class="cells" style="width: <%= mnch ? 29 : 51%>%;">
      <table class="demographics-table" valign="top">
        <tr>
          <th class="titl">Name:</th>
          <td class="value" ><%=@patient_obj.name%></td>
        </tr>

        <tr>
          <th class="titl">Birthdate:</th>
          <td class="value" style="text-align: left;">
            <%=@patient_obj.birthdate%>  (<%= @infant_age?@infant_age:@patient_obj.age %>
            <%= if @infant_age
                  if @infant_age <= 1
                      " Month"
                  else
                      " Months"
                  end
                end
            %>)</td>
        </tr>

      </table> 
    </div>

    <div class="cells" style="width: <%= mnch ? 27 : 49%>%;" valign="top">
      <table class="attributes-table">
        <tr>
          <th class="titl">IVR #:</th>
          <td class="value" ><%=@patient_obj.avr_access_number%></td>
        </tr>


        <% if @patient_obj.age > 13 && @patient_obj.age < 50  && @patient_obj.sex.match(/F/i)

            preg_status = Observation.by_concept_today(@patient_obj.patient_id,
                                                      'Pregnancy status', "PREGNANCY STATUS",
                                                      Date.today, 10.months.ago).join(' , ') rescue nil

            edd = Observation.by_concept_today(@patient_obj.patient_id,
                                               'Pregnancy due date',  "PREGNANCY STATUS",
                                               Date.today, 10.months.ago).first.to_date.strftime("%d/%b/%Y") rescue nil
            preg_status_string = preg_status + (edd.blank? ? "" : " (EDD - #{edd})")
        %>
            <tr>

              <th class="titl" >Preg. Status:</th>

              <td class="value" style="text-align: left;"><%= preg_status_string%></td>
            </tr>
        <% else %>
            <tr>
              <th class="titl">Current District:</th>
              <td class="value"  style="text-align: left;"><%= @patient_obj.township_division || session[:district]%></td>
            </tr>
        <% end %>
      </table>
    </div>

    <% if gender == 'Female' || @patient_obj.age <= 5
         mnch = true
         symptoms = Encounter.yes_tagged(@patient_obj.patient_id, "CHILD HEALTH SYMPTOMS") rescue []
         symp = @patient_obj.age <= 5 ? symptoms.join(', ').titleize :
                 Observation.by_concept_today(@patient_obj.patient_id,
                                              'Maternal Health Symptoms', 'Maternal Health Symptoms',
                                              Date.today).join(' , ')
         symp = (symp.length < 40) ? symp : (symp[0..40] + '...')

         danger_sign_values = ["COUGH DAYS","DIARRHEA DAYS","FEVER DAYS","RED EYE DAYS","NOT EATING ANYTHING","BLOOD IN STOOL",
                               "CONVULSIONS","VOMITING EVERYTHING","VISUAL PROBLEMS","UNCONSCIOUS","SWOLLEN LEGS OR FACE","DRY SKIN"]

         dang =  @patient_obj.age <= 5 ? (danger_sign_values & symptoms.join(', ').upcase.split(', ')).join(', ').titleize :
                 Observation.by_concept_today(@patient_obj.patient_id,
                                              'Danger signs', 'Maternal Health Symptoms',
                                              Date.today).join(' , ')
         dang = (dang.length < 40) ? dang : (dang[0..40] + '...')
    %>
        <div class="cells" style="width: 44%;">
          <table class="attributes-table" valign="top">
            <tr>
              <th style="width:150px;" class="titl">Symptoms:</th>
              <td class="value"  ><%= symp %></td>
            </tr>
            <tr>
              <th style="width:150px;" class="titl">Danger signs:</th>
              <td class="value" style="text-align: left;"><%= dang%></td>
            </tr>
          </table>
        </div>
    <% end %>

    <div class="cells" style="width: 10%; vertical-align: middle; text-align: right;display: table-cell;">
      <span class="icons">
        <%=image_tag("vr.jpeg", class: 'village-reach-icon')%>
      </span>
    </div>

  </div>

<!-- .......................... header ends ................................. -->