
<style>
/* .......................... demographics css starts ................................. */
.demographics {
  position: absolute;
  width: 99%;
  top: 5px;
  left: 5px;
  margin: auto;
  padding: 0px 1px 0px 1px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  color: black;
  background: linear-gradient(to bottom right, white, #f5f5f5); /* Standard syntax */
}

.main-page-container-rows  {
  display: table-row;
}

.cells {
    display: table-cell;
    vertical-align: top;
    border: 1px dotted black;
    border-radius: 2px;
    padding: 0px !important;
}

.gender-icon {
    width: 60px !important;
    height: 60px !important;
}

.demographics-table {
  width: 100%;
}

.attributes-table {
  width: 100%;
}

.main-container th {
  font-size: 13px;
  text-align: left;
}

.village-reach-icon {
  width: 60px !important;
  height: 60px !important;
  border-style: solid;
  border-width: 1px;
  padding: 0px;
}
.value{
    font-size: 0.9em;
    padding: 5px;
}
th{
    font-size: 0.9em;
    width: 30%;
    text-align: left;
}
/* ........................................................... */
</style>

  <div class="demographics">
    
    <div class="cells" style="width: 5%; text-align: left;">
      <span class="icons">
        <%gender = @patient_obj.sex
          gender = gender == 'F' ? 'Female' : 'Male'
        %>
        <%=image_tag("icons/Person_Undefined_#{gender}_Dark.png", class: 'icons gender-icon')%>
      </span>
    </div>

    <div class="cells" style="width: 29%;">
      <table class="demographics-table" valign="top">
        <tr>
          <th>Name:</th>
          <td class="value" ><%=@patient_obj.name%></td>
        </tr>

        <tr>
          <th>Birthdate:</th>
          <td class="value" style="text-align: left;">
            <%=@patient_obj.birthdate%>  (<%= @infant_age?@infant_age:@patient_obj.age %>
            <%= if @infant_age
                  if @infant_age <= 1
                      " Month"
                  else
                      " Months"
                  end
                end
            %>)</td>
        </tr>

      </table> 
    </div>

    <div class="cells" style="width: 27%;" valign="top">
      <table class="attributes-table">
        <tr>
          <th>AVR access ID:</th>
          <td class="value" ><%=@patient_obj.avr_access_number%></td>
        </tr>
        <tr>
          <th>District:</th>
          <td class="value"  style="text-align: left;"><%= @patient_obj.township_division %></td>
        </tr>

      </table>
    </div>

    <% if gender == 'Female'

         symp = Observation.by_concept_today(@patient_obj.patient_id,
                                      'Maternal Health Symptoms',
                                      Date.today).join(' , ')
         symp = (symp.length < 50) ? symp : (symp[0..50] + '...')

       dang = Observation.by_concept_today(@patient_obj.patient_id,
                                           'Danger signs',
                                           Date.today).join(' , ')
       dang = (dang.length < 50) ? dang : (dang[0..50] + '...')
    %>
        <div class="cells" style="width: 44%;">
          <table class="attributes-table" valign="top">
            <tr>
              <th style="width:100px;">Symptoms:</th>
              <td class="value"  ><%= symp %></td>
            </tr>
            <tr>
              <th style="width:100px;">Danger signs:</th>
              <td class="value" style="text-align: left;"><%= dang%></td>
            </tr>
          </table>
        </div>
    <% end %>

    <div class="cells" style="width: 10%; vertical-align: middle; text-align: right;">
      <span class="icons">
        <%=image_tag("vr.jpeg", class: 'icons village-reach-icon')%>
      </span>
    </div>

  </div>

<!-- .......................... header ends ................................. -->