
<style>

/* .......................... demographics css starts ................................. */
.demographics {
  width: 99%;
  display: table;
  padding: 0px 1px 0px 1px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  height: 15%;
}

.main-page-container-rows  {
  display: table-row;
}

.cells {
    display: table-cell;
    border: 1px dotted #d3d3d3;
    border-radius: 2px;
}

.demographics .cells {
  
}

.gender-icon {
  width: 75px;
  height: 75px;
  padding-bottom: 35px;
}

.demographics-table {
  width: 100%;
}

.attributes-table {
  width: 100%;
}

.main-container th {
  font-size: 13px;
  text-align: left;
}

.village-reach-icon {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 1px;
}
.value{
  font-style: italic;
    font-size: 14px;
}
/* ........................................................... */
</style>


<div class="main-container">
  <div class="demographics">
    
    <div class="cells" style="width: 5%; vertical-align: middle; text-align: left;">
      <span class="icons">
        <%gender = @patient_obj.sex
          gender = gender == 'F' ? 'Female' : 'Male'
        %>
        <%=image_tag("icons/Person_Undefined_#{gender}_Dark.png", class: 'icons gender-icon')%>
      </span>
    </div>

    <div class="cells" style="width: 29%;">
      <table class="demographics-table">
        <tr>
          <th style="width:55px;">Name:</th>
          <td class="value" ><%=@patient_obj.name%></td>
        </tr>
        <tr>
          <th style="width:100px;">Birthdate:</th>
          <td class="value" style="text-align: left;"><%=@patient_obj.birthdate%></td>
        </tr>
        <tr>
          <th style="width:100px;">Age:</th>
          <td class="value" style="text-align: left;">(<%=@patient_obj.age%>)</td>
        </tr>
        <tr>
          <th style="width:100px;">National ID:</th>
          <td class="value"  style="text-align: left;"><%= %></td>
        </tr>
      </table> 
    </div>

    <div class="cells" style="width: 27%;">
      <table class="attributes-table">
        <tr>
          <th style="width:55px;">AVR access ID:</th>
          <td class="value" ><%=@patient_obj.avr_access_number%></td>
        </tr>
        <tr>
          <th style="width:100px;">TA:</th>
          <td class="value"  style="text-align: left;"><%= @patient_obj.county_district %></td>
        </tr>
        <tr>
          <th style="width:100px;">Village:</th>
          <td class="value"  style="text-align: left;"><%= @patient_obj.neighborhood_cell %></td>
        </tr>
        <tr>
          <th style="width:100px;">Phone&nbsp;#:</th>
          <td class="value"  style="text-align: left;"><%= @patient_obj.cell_phone_number %></td>
        </tr>
      </table>
    </div>

    <% if gender == 'Female'

         symp = Observation.by_concept_today(@patient_obj.patient_id,
                                      'Maternal Health Symptoms',
                                      Date.today).join(' , ')
         symp = (symp.length < 50) ? symp : (symp[0..50] + '...')

       dang = Observation.by_concept_today(@patient_obj.patient_id,
                                           'Danger signs',
                                           Date.today).join(' , ')
       dang = (dang.length < 50) ? dang : (dang[0..50] + '...')
    %>
        <div class="cells" style="width: 44%;">
          <table class="attributes-table">
            <tr>
              <th style="width:55px;">Symptoms:</th>
              <td class="value"  ><%= symp %></td>
            </tr>
            <tr>
              <th style="width:100px;">Danger signs:</th>
              <td class="value" style="text-align: left;"><%= dang%></td>
            </tr>
            <tr>
              <th style="width:100px;">Pregnancy status:</th>
              <td class="value" style="text-align: left;"><%=  Observation.by_concept_today(@patient_obj.patient_id,
                                                                              'Pregnancy status',
                                                                              Date.today).join(' , ')%></td>
            </tr>
            <tr>
              <th style="width:100px;">EDD:</th>
              <td class="value" style="text-align: left;"><%=  Observation.by_concept_today(@patient_obj.patient_id,
                                                                              'Pregnancy due date',
                                                                              Date.today).first.to_date.strftime("%d-%b-%Y") rescue nil%></td>
            </tr>
          </table>
        </div>
    <% end %>

    <div class="cells" style="width: 10%; vertical-align: middle; text-align: right;">
      <span class="icons">
        <%=image_tag("vr.jpeg", class: 'icons village-reach-icon')%>
      </span>
    </div>

  </div>
</div>

<!-- .......................... header ends ................................. -->