
<style>

/* .......................... demographics css starts ................................. */
.demographics {
  width: 99%;
  display: table;
  padding: 0px 1px 0px 1px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  height: 15%;
}

.main-page-container-rows  {
  display: table-row;
}

.cells {
    display: table-cell;
    border: 1px dotted #d3d3d3;
    border-radius: 2px;
}

.demographics .cells {
  
}

.gender-icon {
  width: 75px;
  height: 75px;
  padding-bottom: 35px;
}

.demographics-table {
  width: 100%;
}

.attributes-table {
  width: 100%;
}

.main-container th {
  font-size: 13px;
  text-align: left;
}

.village-reach-icon {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 1px;
}
.value{
    font-size: 14px;
}
/* ........................................................... */
</style>


<div class="main-container">
  <div class="demographics">
    
    <div class="cells" style="width: 5%; vertical-align: middle; text-align: left;">
      <span class="icons">
        <%gender = @patient_obj.sex
          gender = gender == 'F' ? 'Female' : 'Male'
        %>
        <%=image_tag("icons/Person_Undefined_#{gender}_Dark.png", class: 'icons gender-icon')%>
      </span>
    </div>

    <div class="cells" style="width: 29%;">
      <table class="demographics-table">
        <tr>
          <th style="width:55px;">Name:</th>
          <td class="value" ><%=@patient_obj.name%></td>
        </tr>
        <tr>
          <th style="width:100px;">Birthdate:</th>
          <td class="value" style="text-align: left;"><%=@patient_obj.birthdate%></td>
        </tr>
        <tr>
          <th style="width:100px;">Age:</th>
          <td class="value" style="text-align: left;">
            (<%= @infant_age?@infant_age:@patient_obj.age %>
            <%= if @infant_age
                  if @infant_age <= 1
                      " Month"
                  else
                      " Months"
                  end
                end
            %>)</td>
        </tr>
        <tr>
          <th style="width:100px;">National ID:</th>
          <td class="value"  style="text-align: left;"><%= %></td>
        </tr>
      </table> 
    </div>
        <% phone = PersonAttribute.where(
                :person_id => @patient_obj.patient_id,
                :person_attribute_type_id => PersonAttributeType.where(:name => "Cell Phone Number").first.id
           ).last.value rescue nil
        %>
    <div class="cells" style="width: 27%;">
      <table class="attributes-table">
        <tr>
          <th style="width:55px;">AVR access ID:</th>
          <td class="value" ><%=@patient_obj.avr_access_number%></td>
        </tr>
        <tr>
          <th style="width:100px;">District:</th>
          <td class="value"  style="text-align: left;"><%= @patient_obj.township_division %></td>
        </tr>
        <tr>
          <th style="width:100px;">Phone&nbsp;#:</th>
          <td class="value"  style="text-align: left;"><%= phone %></td>
        </tr>

        <%
           guardian = Patient.find(@patient_obj.patient_id).current_guardian rescue nil
           guardian_name = guardian.name rescue nil
           guardian_age = guardian.age rescue nil
           guardian_sex = guardian.gender rescue nil

           if @patient_obj.age <= 5
        %>
            <tr>
              <th style="width:100px;">Guardian:</th>
              <td class="value"  style="text-align: left;"><%= guardian_name.blank? ? "" : "#{guardian_name}(#{guardian_sex}, #{guardian_age})"%></td>
            </tr>
        <% end %>
      </table>
    </div>

    <% if gender == 'Female' || @patient_obj.age <= 5
         symptoms = Encounter.yes_tagged(@patient_obj.patient_id, "CHILD HEALTH SYMPTOMS") rescue []

         symp = @patient_obj.age <= 5 ? symptoms.join(', ').titleize :
                 Observation.by_concept_today(@patient_obj.patient_id,
                                              'Maternal Health Symptoms', 'Maternal Health Symptoms',
                                              Date.today).join(' , ')
         symp = (symp.length < 50) ? symp : (symp[0..50] + '...')

         danger_sign_values = ["COUGH DAYS","DIARRHEA DAYS","FEVER DAYS","RED EYE DAYS","NOT EATING ANYTHING","BLOOD IN STOOL",
          "CONVULSIONS","VOMITING EVERYTHING","VISUAL PROBLEMS","UNCONSCIOUS","SWOLLEN LEGS OR FACE","DRY SKIN"]

       dang =  @patient_obj.age <= 5 ? (danger_sign_values & symptoms.join(', ').upcase.split(', ')).join(', ').titleize :
               Observation.by_concept_today(@patient_obj.patient_id,
                                           'Danger signs', 'Maternal Health Symptoms',
                                           Date.today).join(' , ')
       dang = (dang.length < 50) ? dang : (dang[0..50] + '...')
    %>
        <div class="cells" style="width: 44%;">
          <table class="attributes-table">
            <tr>
              <th style="width:150px;">Symptoms:</th>
              <td class="value"  ><%= symp %></td>
            </tr>
            <tr>
              <th style="width:150px;">Danger signs:</th>
              <td class="value" style="text-align: left;"><%= dang%></td>
            </tr>
            <% if @patient_obj.age >= 13 && @patient_obj.age <= 50%>
                <tr>
                  <th style="width:150px;">Pregnancy status:</th>
                  <td class="value" style="text-align: left;"><%=  Observation.by_concept_today(@patient_obj.patient_id,
                                                                                  'Pregnancy status', "PREGNANCY STATUS",
                                                                                  Date.today, 10.months.ago).join(' , ')%></td>
                </tr>
                <tr>
                  <th style="width:150px;">EDD:</th>
                  <td class="value" style="text-align: left;"><%=  Observation.by_concept_today(@patient_obj.patient_id,
                                                                                  'Pregnancy due date',  "PREGNANCY STATUS",
                                                                                  Date.today, 10.months.ago).first.to_date.strftime("%d-%b-%Y") rescue nil%></td>
                </tr>
            <% end %>
          </table>
        </div>
    <% end %>

    <div class="cells" style="width: 10%; vertical-align: middle; text-align: right;">
      <span class="icons">
        <%=image_tag("vr.jpeg", class: 'icons village-reach-icon')%>
      </span>
    </div>

  </div>
</div>

<!-- .......................... header ends ................................. -->