<script>
  var tt_cancel_destination = "/patient/dashboard/<%=@patient_obj.patient_id%>/tasks";
</script>


<%= render :partial => 'patient/headers/header' %>

<style>
body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

/* ............................. Table like DIV starts ............................... */
.div-table, .container {
  display: table;
  width: 100%;
  padding: 0px 1px 0px 1px;
}

.div-table-row , .container-row{
  display: table-row;
}

.div-table-cell, .container-cell {
  display: table-cell;
}
/* ............................. Table like DIV ends ............................... */



/* ............................. Row contents starts ............................... */
.edit-divbtn p {
  font-weight: bold;
}

.edit-divbtn {
  height: 125px;
  display: table;
  margin-top: 10px;
  cursor:pointer;
  text-align: center;
  width: 180px;
}

.edit-icons {
  width: 80px;
  height: 80px;
  margin-top: 10%;
  text-align: middle;
}

.data p {
  font-size: 18px;
  margin-left: 5px;
}

.data {
  width: 70%;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
}

/* ............................. Row contents ends ............................... */


</style>

<div class="container">
  <div class="container-row">
    <div class="container-cell" style="width: 30%;">
      <div class="div-table">
          <!-- Row contents starts -->
          <div class="div-table-row">
            <div class="div-table-cell">
              <div class="edit-divbtn" style="background-color: #ccff00;border: 1px solid #2e6da4;" onclick="document.location='/start_call'" >
                <span>
                  <%=image_tag("icons/edit-demographic.png", class: 'edit-icons')%>
                  <p style="color: black;">Name</p>
                </span>
              </div>
            </div>
            <div class="div-table-cell data">
              <p><%=@patient_obj.name%></p>
            </div>
          </div>
          <!-- Row contents ends -->

          <!-- Row contents starts -->
          <div class="div-table-row">
            <div class="div-table-cell">
              <div class="edit-divbtn" style="background-color: #ccff00;border: 1px solid #2e6da4;" onclick="document.location='/start_call'" >
                <span>
                  <%=image_tag("icons/edit-demographic.png", class: 'edit-icons')%>
                  <p style="color: black;">Gender</p>
                </span>
              </div>
            </div>
            <div class="div-table-cell data">
              <p><%=@patient_obj.sex == 'M' ? 'Male' : 'Female'%></p>
            </div>
          </div>
          <!-- Row contents ends -->

          <!-- Row contents starts -->
          <div class="div-table-row">
            <div class="div-table-cell">
              <div class="edit-divbtn" style="background-color: #ccff00;border: 1px solid #2e6da4;" onclick="document.location='/start_call'" >
                <span>
                  <%=image_tag("icons/edit-demographic.png", class: 'edit-icons')%>
                  <p style="color: black;">Birthdate</p>
                </span>
              </div>
            </div>
            <div class="div-table-cell data">
              <p><%=@patient_obj.birthdate%></p>
            </div>
          </div>
          <!-- Row contents ends -->

        </div>
    </div> 
    <div class="container-cell" style="width: 40%;">
	<div class="div-table">
          <!-- Row contents starts -->
          <div class="div-table-row">
            <div class="div-table-cell">
              <div class="edit-divbtn" style="background-color: #ccff00;border: 1px solid #2e6da4;" onclick="document.location='/start_call'" >
                <span>
                  <%=image_tag("icons/edit-demographic.png", class: 'edit-icons')%>
                  <p style="color: black;">District of origin</p>
                </span>
              </div>
            </div>
            <div class="div-table-cell data">
              <p><%=%></p>
            </div>
          </div>
          <!-- Row contents ends -->

          <!-- Row contents starts -->
          <div class="div-table-row">
            <div class="div-table-cell">
              <div class="edit-divbtn" style="background-color: #ccff00;border: 1px solid #2e6da4;" onclick="document.location='/start_call'" >
                <span>
                  <%=image_tag("icons/edit-demographic.png", class: 'edit-icons')%>
                  <p style="color: black;">District of residence</p>
                </span>
              </div>
            </div>
            <div class="div-table-cell data">
              <p><%=%></p>
            </div>
          </div>
          <!-- Row contents ends -->

          <!-- Row contents starts -->
          <div class="div-table-row">
            <div class="div-table-cell">
              <div class="edit-divbtn" style="background-color: #ccff00;border: 1px solid #2e6da4;" onclick="document.location='/start_call'" >
                <span>
                  <%=image_tag("icons/edit-demographic.png", class: 'edit-icons')%>
                  <p style="color: black;">Occupation</p>
                </span>
              </div>
            </div>
            <div class="div-table-cell data">
              <p><%=@patient_obj.occupation%></p>
            </div>
          </div>
          <!-- Row contents ends -->

        </div>
    </div>
    <div class="container-cell" style="width: 30%;">
      <div class="div-table">
          <!-- Row contents starts -->
          <div class="div-table-row">
            <div class="div-table-cell">
              <div class="edit-divbtn" style="background-color: #ccff00;border: 1px solid #2e6da4;" onclick="document.location='/start_call'" >
                <span>
                  <%=image_tag("icons/edit-demographic.png", class: 'edit-icons')%>
                  <p style="color: black;">Cell phone</p>
                </span>
              </div>
            </div>
            <div class="div-table-cell data">
              <p><%=%></p>
            </div>
          </div>
          <!-- Row contents ends -->

          <!-- Row contents starts -->
          <div class="div-table-row">
            <div class="div-table-cell">
              <div class="edit-divbtn" style="background-color: #ccff00;border: 1px solid #2e6da4;" onclick="document.location='/start_call'" >
                <span>
                  <%=image_tag("icons/edit-demographic.png", class: 'edit-icons')%>
                  <p style="color: black;">Home phone</p>
                </span>
              </div>
            </div>
            <div class="div-table-cell data">
              <p><%=%></p>
            </div>
          </div>
          <!-- Row contents ends -->

          <!-- Row contents starts -->
          <div class="div-table-row">
            <div class="div-table-cell">
              <div class="edit-divbtn" style="background-color: #ccff00;border: 1px solid #2e6da4;" onclick="document.location='/start_call'" >
                <span>
                  <%=image_tag("icons/edit-demographic.png", class: 'edit-icons')%>
                  <p style="color: black;">Occupation</p>
                </span>
              </div>
            </div>
            <div class="div-table-cell data">
              <p><%=%></p>
            </div>
          </div>
          <!-- Row contents ends -->

        </div>
    </div>		
  </div>
</div>

<!--
-->
<%= render :partial => "patient/footers/search_footer"%> 
