<style>

  .tt_controls_year_of_birth #qwerty { display:none; }
  .tt_controls_age_estimate #qwerty { display:none; }
  .tt_controls_cell_phone_number #qwerty { display:none; }
  .tt_controls_ground_phone_number #qwerty { display:none; }
  .tt_controls_office_phone_number #qwerty { display:none; }

  .tt_controls_year_of_birth #Unknown { display:block; }
  .tt_controls_age_estimate #Unknown { display:none; }

  .tt_controls_middle_name  #na { display: block; }
  .tt_controls_ground_phone_number #Unknown { display:block; }

  .tt_controls_region_of_origin .keyboard{display:none;}
  .tt_controls_current_region .keyboard{display:none;}

  .tt_controls_month_of_birth .keyboard{display:none;}
  #tt_page_month_of_birth .options{height:570px;}
  #tt_page_month_of_birth .options li{font-size:30px;}

  .tt_controls_home_village #space , #apostrophe { display:inline; }
  .tt_controls_home_district #num  { display:none; }

  .tt_controls_current_traditional_authority_ta #space { display:inline; }

  .tt_controls_current_village_residence #space { display:inline; }

  .tt_controls_cell_phone_number #num , #plus, #apostrophe, #star, #char, #abc, #date, #slash, #minus, #comma, #percent, #decimal { display:none; }

  .tt_controls_home_phone_number #num , #plus, #apostrophe, #star, #abc, #date, #slash, #minus, #comma, #percent, #decimal { display:none; }

  .tt_controls_office_phone_number #num , #plus, #apostrophe, #star, #abc, #date, #slash, #minus, #comma, #percent, #decimal { display:none; }

  .tt_controls_occupation .keyboard{display:none;}
    #tt_page_occupation .options{height:500px;}
    #tt_page_occupation .options li{font-size:30px;}
    #space {display:inline;}

    .nota #na {
        display: block;
    }

     #num{ display:block; }
     #char{ display:none; }
     #apostrophe { display:inline; }

    .tt_controls_home_district #num{ display:none; }
    .tt_controls_current_district #num{ display:none; }

    .tt_controls_current_city_place_or_area_of_residence #num{ display:block; }
    .tt_controls_current_city_place_or_area_of_residence #char{ display:block; }

    .tt_controls_closest_landmark_or_plot_number #num{ display:block; }
    .tt_controls_closest_landmark_or_plot_number #char{ display:block; }
    
    .azButton .numericKeyboard #char {
      display: block;
    }

</style>

<script>

  var tt_cancel_destination = "/manage_user"

</script>

<%= form_tag("/people/update_hsa", id: "update-form", method: 'post', enctype: 'multipart/form-data') do %>i
<input name="person_id" id="person_id" type="hidden" value="<%=params[:person_id] %>">

<%= text_field_tag "person[names][given_name]", params[:firstname],
                     {:id => 'given_name', :field_type => 'alpha',
                      :helpText => 'First name',
                      :ajaxURL => '/patient/given_names?search_string=',
                      :allowFreeText => true }%>
  
  <%= text_field_tag "person[names][family_name]", params[:lastname],
                     {:id => 'family_name',
                      :field_type => 'alpha',
                      :helpText => 'Last name',
                      :ajaxURL => '/patient/family_names?search_string=',
                      :allowFreeText => true }%>

  <%= select_tag("person[gender]", options_for_select(['','Male','Female'] ,params[:gender]),
                     :helpText =>"Gender",
                    :id => "gender",
                     :allowFreeText => false)%>

   <%= text_field_tag "person[birth_year]", nil, 
                  {:helpText => 'Year of Birth', 
                    :field_type => 'number', 
                    :absoluteMin => "1890", 
                    :min => "1940", 
                    :absoluteMax => Date.today.year, 
                    :tt_pageStyleClass => "Numeric NumbersOnly", 
                    :tt_onLoad => 'seen(tstCurrentPage);',
                    :validationJS => "setDOB();" }  %>

  <%= select_tag "person[birth_month]", month_name_options,
                  {:helpText => 'Month of Birth', 
                    :condition => '$("person_birth_year").value.toLowerCase() != "unknown"', 
                    :validationJS => "validateDOB();", 
                    :validationMessage => 'Please enter a valid date', 
                    :tt_onLoad => "__$('keyboard').style.display = 'none'"}%>

  <%= text_field_tag "person[age_estimate]", nil, 
                  {:helpText => 'Age Estimate', 
                    :absoluteMin => 1,  
                    :field_type => 'number', 
                    :condition => '$("person_birth_year").value == "Unknown"', 
                    :tt_onLoad => "$('nextButton').style.display = 'block';", 
                    :tt_pageStyleClass => "Numeric NumbersOnly"} %> 

  <%= text_field_tag "person[birth_day]",  nil, 
                :field_type => 'number', :helpText => 'Birth Day', 
            :condition => '($("person_birth_year").value != "Unknown") && ($("person_birth_month").value != "Unknown")', 
                :tt_onLoad => "getDayOfMonthPicker($('person_birth_year').value, $('person_birth_month').value);$('nextButton').style.display = 'block';" ,
                :validationJS => "validateDOB()",
                :validationMessage => 'Please enter a valid date'%>

  <%= text_field_tag "person[cell_phone_number]",  params[:cell_phone_number], 
                    {
                      :field_type => 'number',
                      :helpText => 'Cell Phone Number', 
                      :validationRule => "^0\\d{7}$|Unknown|Not Available|N\/A|^0\\d{9}$",
                      :validationMessage => "Not a valid phone number",
                      :tt_pageStyleClass => "nota",
                      :id => 'cell_phone_number',
                      :tt_requireNextClick => true, :tt_onLoad => "$('nextButton').style.display = 'block';"
                    }
                %>

  <%#= @client.name.split.map(&:capitalize).join(' ') %>
  <label for='summary'>Summary for</label>
	<%= text_field_tag :summary, nil, { :tt_onLoad => "summary();__$('keyboard').style.display = 'none';", 
      :optional => "true", 
      :tt_pageStyleClass => "NoControls" } %>

<%end%>

<script>

function summary() {

    var first_name = document.getElementById('given_name').value;
    var last_name = document.getElementById('family_name').value;
    var gender = document.getElementById('gender').value;
    var phone_number = document.getElementById('cell_phone_number').value;
    // var birthdate = "<%= PatientService.print_birthdate(@person)%>"

    var display = "<div><span class='title'>First Name:</span><span class='data'> " + first_name + "</span></div>";
    display += "<div><span class='title'>Last Name:</span><span class='data'> " + last_name + "</span></div>";
    display += "<div><span class='title'>Gender:</span><span class='data'> " + gender + "</span></div>";
    // display += "<div><span class='title'>Birthdate:</span><span class='data'> " + birthdate + "</span></div>";
    display += "<div><span class='title'>Phone Number:</span><span class='data'> " + phone_number + "</span></div>";


	$('inputFrame'+tstCurrentPage).innerHTML = '<div id="summary">' + display + '</div>' ;
	$("clearButton").style.display = "none";
		

}

</script>

<style>
.title {
  font-size: 50px;
}

.data {
  font-size: 40px;
  color: orangered;
}
</style>