<style>

    .tt_controls_month_of_birth #keyboard { display:none; }

    #tt_page_month_of_birth .options{height:19em;}
    .btn-year {
        display: inline;
        margin: 5px 2px 2px;
        text-align: center;
        background-color: #5281E0;
        border: solid dodgerblue 3px;
        border-radius: 7px;
        box-shadow: 2px 2px 10px lightblue inset;
        color: white;
        font-size: 1.7em;
        line-height: 57px;
        min-width: 80px;
        font-weight: bold;
        min-height: 80px;
    }

    .btn-red {
        display: inline;
        margin: 5px 2px 2px;
        text-align: center;
        background-color: darkred;
        border: solid #477EEB 1px;
        border-radius: 7px;
        box-shadow: 5px 5px 15px lightblue inset;
        color: white;
        font-size: 1.7em;
        line-height: 57px;
        min-width: 120px;
        font-weight: bold;
        min-height: 100px;
    }

    .btn-green {
        display: inline;
        margin: 5px 2px 2px;
        text-align: center;
        background-color: darkgreen;
        border: solid #477EEB 1px;
        border-radius: 7px;
        box-shadow: 5px 5px 15px lightblue inset;
        color: white;
        font-size: 1.7em;
        line-height: 57px;
        min-width: 120px;
        font-weight: bold;
        min-height: 100px;
    }

    #tbInputYear, #tbInputAge {
        margin-top: 10px;
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border-color: -moz-use-text-color -moz-use-text-color silver;
        border-style: none none solid;
        border-width: medium medium 1px;
        font-family: "Nimbus Sans L","Arial Narrow",sans-serif;
        font-size: 2.2em;
        padding-left: 5px;
        width: 99%;
        text-align: center;
    }

    /* --------------------- popUp For Alert -----------------------*/
    .my_button {
        -moz-user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: bolder;
        line-height: 1.82857;
        margin-bottom: 0;
        padding: 6px 56px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        background-color: #337ab7;
        border-color: #2e6da4;
        color: #fff;
        float: right;
        margin-top: -5px;
    }

    .exit_button {
        -moz-user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: bolder;
        line-height: 1.82857;
        margin-bottom: 0;
        padding: 0px 20px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        background-color: #337ab7;
        border-color: #2e6da4;
        color: #fff;
        float: right;
        margin-top: -5px;
        top: 0%;
    }


    #popup-div {
        display: none;
        background-color: #F4F4F4;
        border: 2px solid #E0E0E0;
        border-radius: 15px;
        height: auto;
        padding: 5px;
        top: 0%;
        left: 0%;
        position: absolute;
        margin-top: 5px;
        width: 560px;
        margin-left: 430px;
        z-index: 991;
    }

    #popup-header{
        border-bottom: 2px solid #7D9EC0;
        margin-left: -5px;
        width: 101.5%;
        background-color: #FFFFFF;
        margin-top: -5px;
        padding-top: 5px;
        border-radius: 15px 15px 0 0;
        font-size: 14pt;
        font-weight: bolder;
    }

    #cover{
        display: none;
        position: absolute;
        background-color: black;
        width: 100%;
        height: 102%;
        left: 0%;
        top: 0%;
        z-index: 990;
        opacity: 0.65;
    }

    #no {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /* ------------------------------------------------------------------- */

    #flash {
        background-color: #ff2244;
        border-radius: 12px;
        border: 1px solid;
        height: 80px;
        text-align: center;
    }
    /**** Month ***/
    .month-table  {
        display: table;
        width: 100%;
        padding: 0px 1px 0px 1px;
    }

    .month-rows  {
        display: table-row;
    }

    .month-cells {
        display: table-cell;
        text-align: left;
        padding-left: 10px;
    }

    /**** Year ***/
    .year_id  {
        /* display: table; */
        width: 100%;
        padding: 0px 1px 0px 1px;
    }



    .month-options li {
        color: black;
        font-family: "Nimbus Sans L","Arial Narrow",sans-serif;
        list-style: outside none none;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 1.9em;
        line-height: 50px;
    }

    #tbInputMonth {
        margin-top: 10px;
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border-color: -moz-use-text-color -moz-use-text-color silver;
        border-style: none none solid;
        border-width: medium medium 1px;
        font-family: "Nimbus Sans L","Arial Narrow",sans-serif;
        font-size: 2.2em;
        padding-left: 5px;
        width: 99%;
        text-align: center;
    }
    /*============ */
    .main-container {
        width:100%
    }

    body {
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */
    }

    img {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        pointer-events: none;
    }

    /* .................................. header starts ........................................................ */
    .table-container {
        width: 99%;
        display: table;
        padding: 0px 1px 0px 1px;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
    }

    .table-row  {
        display: table-row;
        width: 100%;
    }

    .table-cell {
        display: table-cell;
    }

    .village-reach-icon {
        width: 80px;
        height: 80px;
        border-style: solid;
        border-width: 1px;
    }

    .confirm .village-reach-icon {
        border-width: 0px;
    }
    /* .................................. header ends........................................................ */

    /* ......................................... PopUp CSS .................................................. */
    #popUp-container {
        border: 2px solid tomato;
        border-radius: 23px;
        box-shadow: 24px 24px 10px;
        background-color: tomato;
        visibility: hidden;
        position: absolute;
        left: 20%;
        top: 20%;
        width: 50%;
        height: 50%;
        text-align:center;
        z-index: 1000;
    }
    /* .......................................... PopUp end ................................................. */
    .btn-title {
        bottom: 30px;
        position: relative;
        padding-right: 15px;

    }

    /*============ */
    .btn-day {
        display: inline;
        margin: 5px 2px 2px;
        text-align: center;
        background-color: #5281E0;
        border: solid dodgerblue 3px;
        border-radius: 7px;
        box-shadow: 2px 2px 10px lightblue inset;
        color: white;
        font-size: 1.7em;
        line-height: 57px;
        min-width: 120px;
        font-weight: bold;
        min-height: 100px;
    }

    #tbInputDay {
        margin-top: 10px;
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border-color: -moz-use-text-color -moz-use-text-color silver;
        border-style: none none solid;
        border-width: medium medium 1px;
        font-family: "Nimbus Sans L","Arial Narrow",sans-serif;
        font-size: 2.2em;
        padding-left: 5px;
        width: 99%;
        text-align: center;
    }

    .lower_buttons {
        font-size: 1.4em;
    }

</style>

<%= hidden_field_tag "person[birth_year]", nil, :id => 'selected_year' %>
<%= hidden_field_tag "person[birth_month]", nil, :id => 'selected_month' %>
<%= hidden_field_tag "person[birth_day]", nil, :id => 'selected_day' %>
<%= hidden_field_tag "person[age_estimate]", nil, :id => 'age_estimate' %>
<%= hidden_field_tag "next_task", params[:next_task] %>

<%= text_field_tag "", nil, {:helpText => 'Birthdate',
                             :tt_onLoad => 'load(); dateLayout(); nextDate();'}  %>

<script>
    function popUp() {
        document.getElementById("popup-div").style.display = 'inline';
        document.getElementById("cover").style.display = 'inline';
    }

    function hidePopup(){
        //clearInput();
        document.getElementById("popup-div").style.display = 'none';
        document.getElementById("cover").style.display = 'none';
    }

    function validateMessage(message) {
        var inputPage = document.getElementById('page'+tstCurrentPage);
        inputPage.style.zIndex = '900';
        inputPage.style.visibility = 'hidden';
//        var cover = document.getElementById('data-capture');
//        cover.style.visibility = 'hidden';

        var pop_up_container = document.createElement('div');
        pop_up_container.id = 'popUp-container';
        pop_up_container.style.border = '2px solid tomato';
        pop_up_container.style.borderRadius = '23px';
        pop_up_container.style.boxShadow = '24px 24px 10px';
        pop_up_container.style.backgroundColor = 'tomato';
        pop_up_container.style.visibility = 'hidden';
        pop_up_container.style.position = 'absolute';
        pop_up_container.style.left = '20%';
        pop_up_container.style.top = '20%';
        pop_up_container.style.width = '50%';
        pop_up_container.style.height = '50%';
        pop_up_container.style.textAlign = 'center';
        pop_up_container.style.zIndex = '1000';
        pop_up_container.style.visibility = 'visible';
        pop_up_container.innerHTML = '<h1>Invalid Input!</h1><h1>'+message+'</h1>';
        inputPage.appendChild(pop_up_container);
        setTimeout(function(){
            inputPage.style.visibility = 'visible';
            pop_up_container.style.visibility = 'hidden';
        }, 3000);
    }

    function nextDate() {
        var next_button = document.getElementById('nextButton');
        next_button.setAttribute('onmousedown','passDateValues();');
    }

    function passDateValues() {
        var year = document.getElementById('selected_year').value = document.getElementById('tbInputYear').value;
        var month = document.getElementById('selected_month').value = document.getElementById('tbInputMonth').value;
        var day = document.getElementById('selected_day').value = document.getElementById('tbInputDay').value;
        if( day > 31) {
            validateMessage('Day of the entered month is invalid.');
        }
        else if( year == <%= Date.today.year %> ) {
                if( month == '<%= Date::MONTHNAMES[Date.today.month] %>' && day > <%= Date.today.day %> ) {
                    validateMessage('Day of Birth is ahead.');
                }
        }
        else if( year > <%= Date.today.year %>) {
            validateMessage('Year of Birth is ahead.');
        }
        else {
            gotoNextPage();
        }
    }

    function inputDay(e) {
        var tbInput = document.getElementById('tbInputDay');
        if(tbInput.value == 'Unknown' && e.value != 'Unknown') {
            return;
        }
        if(e.value == 'Unknown') {
            tbInput.value = e.value;
        }else{
            tbInput.value = tbInput.value + e.value;
        }
    }

    function clearInputDay() {
        document.getElementById("tbInputDay").value = '';
    }

    function input(e) {
        var tbInput = document.getElementById('tbInputYear');
        if(tbInput.value == 'Unknown' && e.value != 'Unknown')
            return;

        if(e.value == 'Unknown') {
            tbInput.value = e.value;
        }else{
            tbInput.value = tbInput.value + e.value;
        }
    }
    function clearInputYear() {
        document.getElementById("tbInputYear").value = '';
    }
    function load() {
        var array = new Array();
        try {
            while (array.length < 10) {
                var temp = Math.round(Math.random() * 9);
                if (!contain(array, temp)) {
                    array.push(temp);
                }
            }
            for (var i = 0; i < 10; i++) {
                var btn = document.getElementById("btn" + i);
                btn.value = array[i];
            }
        }
        catch(e) {

        }
    }
    function dateLayout() {
        $('keyboard').style.display = 'none';
        var input_frame = $('inputFrame'+tstCurrentPage);

        $("clearButton").style.display = "none";

        var date_layout = document.createElement('div');

        //### ====== Create Table Layout for date add-on  ====== #############
        var table_container = document.createElement('div');
        table_container.className = 'table-container';
        table_container.style.height = '65%';
        table_container.style.borderWidth = '0px 0px 1px 0px';
        date_layout.appendChild(table_container);

        var table_row = document.createElement('div');
        table_row.className = 'table-row';
        table_container.appendChild(table_row);

        var year_table_cell = document.createElement('div');
        year_table_cell.className = 'table-cell';
        year_table_cell.style.width = '35%';
        year_table_cell.style.verticalAlign = 'top';
        year_table_cell.style.textAlign = 'center';
        table_row.appendChild(year_table_cell);
        // append year
        var label = document.createElement('label');
        label.innerHTML = 'Enter Year';
        year_table_cell.appendChild(label);

        var year_input_field = document.createElement('input');
        year_input_field.setAttribute('id','tbInputYear');
        year_input_field.setAttribute('type','text');
        year_input_field.setAttribute('maxlength','4');
        year_table_cell.appendChild(year_input_field);

        var year_div = document.createElement('div');
        year_div.setAttribute('id','year_id');
        year_div.className = 'virtual-keypad';
        year_table_cell.appendChild(year_div);
        for(var j = 1; j <= 9; j++){
            var btn_id = 'btn'+j;
            btn = document.createElement('input');
            btn.setAttribute('id',btn_id);
            btn.setAttribute('type','button');
            btn.setAttribute('onclick','input(this);');
            btn.setAttribute('value',j);
            btn.className = 'btn-year';
            year_div.appendChild(btn);
            if ( j%3 == 0 ) {
                var line_break = document.createElement('br');
                year_div.appendChild(line_break);
            }
        }
        var btnUnknown = document.createElement('input');
        btnUnknown.setAttribute('id','btnUnknow');
        btnUnknown.setAttribute('type','button');
        btnUnknown.setAttribute('value','Unknown');
        btnUnknown.setAttribute('onclick','input(this); popUp();');
        btnUnknown.className = 'btn-year lower_buttons';
        year_div.appendChild(btnUnknown);

        var btn0 = document.createElement('input');
        btn0.setAttribute('id','btn0');
        btn0.setAttribute('type','button');
        btn0.setAttribute('onclick','input(this);');
        btn0.setAttribute('value','0');
        btn0.className = 'btn-year lower_buttons';
        year_div.appendChild(btn0);

        var clear_btn = document.createElement('input');
        clear_btn.setAttribute('id','btnCl');
        clear_btn.setAttribute('type','button');
        clear_btn.setAttribute('value','Clear');
        clear_btn.setAttribute('onclick','clearInputYear();');
        clear_btn.className = 'btn-year lower_buttons';
        year_div.appendChild(clear_btn);

        var table_cell = document.createElement('div');
        table_cell.className = 'table-cell';
        table_cell.style.width = '30%';
        table_cell.style.verticalAlign = 'top';
        table_cell.style.textAlign = 'center';
        table_cell.style.borderStyle = 'solid';
        table_cell.style.borderWidth = '0px 1px 0px 1px';
        table_row.appendChild(table_cell);
        // append month
        var label = document.createElement('label');
        label.innerHTML = 'Select Month';
        table_cell.appendChild(label);

        var month_input_field = document.createElement('input');
        month_input_field.setAttribute('id','tbInputMonth');
        month_input_field.setAttribute('type','text');
        table_cell.appendChild(month_input_field);

        var month_table = document.createElement('div');
        month_table.className = 'month-table';
        table_cell.appendChild(month_table);

        var month_rows = document.createElement('div');
        month_rows.className = 'month-rows';
        month_table.appendChild(month_rows);

        var month_cells = document.createElement('div');
        month_cells.className = 'month-cells';
        month_rows.appendChild(month_cells);

        var ul_options = document.createElement('ul');
        ul_options.className = 'month-options';
        ul_options.style.height = '99%';
        month_cells.appendChild(ul_options);
        <% months = []
            (1..6).each {|m| months << [Date::MONTHNAMES[m], m]} %>
        <% (months).each do |string,num| %>
        var li_options = document.createElement('li');
        li_options.className = 'cell-table';
        li_options.setAttribute('onclick','assignMonth(this)');
        li_options.setAttribute('id','<%= num %>');
        li_options.innerHTML = '<%= string %>';
        ul_options.appendChild(li_options);
        <% end %>

        var month_cells = document.createElement('div');
        month_cells.className = 'month-cells';
        month_rows.appendChild(month_cells);

        var ul_options = document.createElement('ul');
        ul_options.className = 'month-options';
        ul_options.style.height = '99%';
        month_cells.appendChild(ul_options);
        <% months = []
            (7..12).each {|m| months << [Date::MONTHNAMES[m], m]} %>
        <% (months).each do |string,num| %>
        var li_options = document.createElement('li');
        li_options.className = 'cell-table';
        li_options.setAttribute('onclick','assignMonth(this)');
        li_options.setAttribute('id','<%= num %>');
        li_options.innerHTML = '<%= string %>';
        ul_options.appendChild(li_options);
        <% end %>
        //===========================================
        var table_cell = document.createElement('div');
        table_cell.className = 'table-cell';
        table_cell.style.width = '35%';
        table_cell.style.verticalAlign = 'top';
        table_cell.style.textAlign = 'center';
        table_row.appendChild(table_cell);
        // append day
        var label = document.createElement('label');
        label.innerHTML = 'Enter Day';
        table_cell.appendChild(label);

        var day_input_field = document.createElement('input');
        day_input_field.setAttribute('id','tbInputDay');
        day_input_field.setAttribute('type','text');
        day_input_field.setAttribute('maxlength','2');
        table_cell.appendChild(day_input_field);

        var day_div = document.createElement('div');
        day_div.setAttribute('id','day');
        day_div.className = 'virtual-keypad';
        table_cell.appendChild(day_div);
        for(var j = 1; j <= 9; j++){
            var btn_id = 'btn'+j;
            btn = document.createElement('input');
            btn.setAttribute('id',btn);
            btn.setAttribute('type','button');
            btn.setAttribute('onclick','inputDay(this);');
            btn.setAttribute('value',j);
            btn.className = 'btn-day';
            day_div.appendChild(btn);
            if ( j%3 == 0 ) {
                var line_break = document.createElement('br');
                day_div.appendChild(line_break);
            }
        }
        var btnUnknown = document.createElement('input');
        btnUnknown.setAttribute('id','btnUnknow');
        btnUnknown.setAttribute('type','button');
        btnUnknown.setAttribute('value','Unknown');
        btnUnknown.setAttribute('onclick','inputDay(this);');
        btnUnknown.className = 'btn-day lower_buttons';
        day_div.appendChild(btnUnknown);

        var btn0 = document.createElement('input');
        btn0.setAttribute('id','btn0');
        btn0.setAttribute('type','button');
        btn0.setAttribute('onclick','inputDay(this);');
        btn0.setAttribute('value','0');
        btn0.className = 'btn-day lower_buttons';
        day_div.appendChild(btn0);

        var clear_btn = document.createElement('input');
        clear_btn.setAttribute('id','btnCl');
        clear_btn.setAttribute('type','button');
        clear_btn.setAttribute('value','Clear');
        clear_btn.setAttribute('onclick','clearInputDay();');
        clear_btn.className = 'btn-day lower_buttons';
        day_div.appendChild(clear_btn);

        input_frame.innerHTML = '<div id="date_layout">' + date_layout.innerHTML + '</div>' ;

    }

    function assignMonth(e) {
        allCells = document.getElementsByClassName('cell-table');

        for(var i = 0; i < allCells.length; i++){
            allCells[i].setAttribute('style',"background-color:''");
        }

        e.setAttribute('style',"background-color:lightblue;");
        document.getElementById('tbInputMonth').value = e.innerHTML;
    }

    function setFinish() {
        var finish = document.getElementById('nextButton');
        finish.setAttribute('onmousedown','validateBirthdate();');
    }
    function validateBirthdate() {
        // Set current Date variables ----
        date = new Date();
        current_year = date.getFullYear();
        current_day = date.getDate();

        // Get entered date variables -----
        year = document.getElementById('selected_year').value;
        month = document.getElementById('selected_month').value;
        day = document.getElementById('selected_day').value;

        // get valid year and day range variables ---
        year_range = current_year - 150;
        valid_month_day = day > 0 && day <= 31;

        // Check if month is Leap year and validate ----
        if ( month == 'February' ) {
            if (year%4 == 0) { // Leap Year
                valid_month_day = day > 0 && day <= 29;
            }
            else {
                valid_month_day = day > 0 && day <= 28;
            }
        }

        // Check if year is blank ------
        if (year.length == 0 ) {
            clearInputAge();
            input(btnUnknow);
            //year = 'Unknown';
            popUp();
            return;
        }

        // Check if year is not known ------------
        else if (year != 'Unknown') {
            if ( year.length != 4 ) {
                alert('Year can only have 4 digits.');
                return; // with a flash message.
            }
            else if ( year.length == 4) {
                if ( year < year_range || year > current_year) { // chech if year is out of range ---------
                    alert('Year Out of Range. Should be between '+year_range+' and '+current_year);
                    return; // with a flash message.
                }
            }
            if ( day.length > 2) {
                alert('more than 2');
                return; // with a flash message.
            }
            else if ( day.length > 0 && day.length <= 2 ) {
                if ( valid_month_day ) {
                    // continue  processing ---------
                }
                else {
                    alert('Invalid day of the month.');
                    return;
                }
            }

            // set values to the form year, month, and day ---------------
            document.getElementById('selected_year').value = year;
            document.getElementById('selected_month').value = month;
            document.getElementById('selected_day').value = day;
        }
        // check if year is known -------------
        else if (year == 'Unknown') {
            document.getElementById('selected_year').value = year;
            document.getElementById('age_estimate').value = estimated_age;
        }


    }

    function clearInputAge() {
        document.getElementById("flash").style.display = 'none';
        document.getElementById("tbInputAge").value = '';
    }

    function inputAge(e) {
        var tbInput = document.getElementById('tbInputAge');
        if(tbInput.value == 'Unknown' && e.value != 'Unknown')
            return;

        if(e.value == 'Unknown') {
            tbInput.value = e.value;
        }else{
            tbInput.value = tbInput.value + e.value;
        }
    }

    function saveByAge() {
        birth_month = document.getElementById('tbInputMonth').value;
        document.getElementById('selected_month').value = birth_month;
        estimated_age = document.getElementById('tbInputAge').value;
        document.getElementById('age_estimate').value = estimated_age;
        age_max_digits = estimated_age.length > 3
        age_out_of_range = estimated_age > 150
        age_blank = estimated_age.length == 0
        incorrect_age = age_max_digits || age_out_of_range || age_blank;
        if (incorrect_age) {
            //alert('incorrect input');
            var flash = document.getElementById('flash');
            if ( incorrect_age == age_max_digits ) {
                flash.innerHTML = '<%= flash[:age_max_digits] %><br>';
            }
            else if ( incorrect_age == age_out_of_range ) {
                flash.innerHTML = '<%= flash[:age_out_of_range] %><br>';
            }
            else if ( incorrect_age == age_blank ) {
                flash.innerHTML = '<%= flash[:age_blank] %><br>';
            }
            flash.style.display = 'inline';
            setTimeout( function() {
                flash.style.display = "none"
            }, 4000);
            //notify('incorrect_input');
            return;
        }
        else {
            document.getElementById('modify_form').submit();
        }
    }

    setTimeout(function(){
        <% if params[:next_task].to_s == 'true' %>
        __$('cancelButton').onmousedown = function(){
            window.location = "/";
        };

        showMessage("Patient has no real birthdate please enter birthdate!", false, false);
        <% end %>
    }, 250)
</script>
