<style>

body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}


.main-page-container  {
  display: table;
  width: 99.7%;
  padding: 5px 1px 0px 1px;
}

.main-page-container-rows  {
  display: table-row;
}

.cells {
  display: table-cell;
}


/* ...................................... */
.divbtn {
  height: 265px;
  display: table;
  margin-top: 10px;
  cursor:pointer;
}

.icons {
  width: 160px;
  height: 160px;
  margin-top: 10%;
  text-align: middle;
}

.divbtn p {
  font-weight: bold;
}

.btncells {
  width: 25%;
  text-align: center;
}

.small-icons {
  width: 100px;
  height: 100px;
}

.header .cells {
  vertical-align: middle; 
  padding-right: 5px;
}

#scan {
  background-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  font-size: 80px;
  margin-bottom: 6px;
  width: 44%;
}

.header .icons {
  width: 100px;
  height: 100px;
}

/* ...................................... */
</style>

<div class="main-page-container">

<div class="main-page-container-rows header">
  <div class="cells" style="width:45%;">
    <span class="icons small-icons" style=" border-right: 0px solid #ccc; color: #999;font-size: 1.5em; font-style: italic;">
      <b>Facility Name:</b>&nbsp;<%=GlobalProperty.current_health_center.description%>
    </span>
  </div>
  <div class="cells" style="width:45%">
    <span class="icons small-icons" style=" border-right: 0px solid #ccc; color: #999;font-size: 1.5em; font-style: italic;">
      <b>Location:</b>&nbsp;<%=Location.current.name%>
    </span>
  </div>
  <div class="cells" style="border-style: solid; text-align: center; border-width: 1px; width: 10%;">
    <span class="icons small-icons">
      <%=image_tag("index.jpeg", class: 'icons')%>
    </span>
  </div>
</div>

</div>


<div class="main-page-container">

<div class="main-page-container-rows">
  <!-- loop -->
  <div class="cells btncells">
    <div class="divbtn" style="background-color: #f5deb3;border: 1px solid #2e6da4; width: 99%;" onclick="document.location='/start_call'" >
        <span class="icons">
          <%=image_tag("icons/pregnacy.png", class: 'icons')%>
          <p style="color: black;">ANC follow-up</p>
        </span>
    </div>
  </div>
  <!-- endloop -->
  
  <!-- loop -->
  <div class="cells btncells">
    <div class="divbtn" style="background-color: #40e0d0;border: 1px solid #2e6da4; width: 99%;" onclick="document.location='/'" >
        <span class="icons">
          <%=image_tag("icons/follow-up.png", class: 'icons')%>
          <p>Follow-up</p>
        </span>
    </div>
  </div>
  <!-- endloop -->
  
  <!-- loop -->
  <div class="cells btncells">
    <div class="divbtn" style="background-color:#708090 ;border: 1px solid #2e6da4; width: 99%;" onclick="document.location='/'" >
        <span class="icons">
          <%=image_tag("icons/Directory.png", class: 'icons')%>
          <p style="color: white;">Find by phone number</p>
        </span>
    </div>
  </div>
  <!-- endloop -->
  
  <!-- loop -->
  <div class="cells btncells">
    <div class="divbtn" style="background-color: #ff8509 ;border: 1px solid #2e6da4; width: 99%;" onclick="document.location='/'" >
        <span class="icons">
          <%=image_tag("icons/user-id.png", class: 'icons')%>
          <p>Find by ID</p>
        </span>
    </div>
  </div>
  <!-- endloop -->
  
  
</div>


<div class="main-page-container-rows">
  <!-- loop -->
  <div class="cells btncells">
    <div class="divbtn" style="background-color: #4d8eff;border: 1px solid #2e6da4; width: 99%;" onclick="document.location='/'" >
        <span class="icons">
          <%=image_tag("icons/kuser.png", class: 'icons')%>
          <p>Find by name</p>
        </span>
    </div>
  </div>
  <!-- endloop -->
  
  <!-- loop -->
  <div class="cells btncells">
    <div class="divbtn" style="background-color: #ffc0cb;border: 1px solid #2e6da4; width: 99%;" onclick="document.location='/'" >
        <span class="icons">
          <%=image_tag("icons/birth-plan.png", class: 'icons')%>
          <p style="color: black;">Birth plan</p>
        </span>
    </div>
  </div>
  <!-- endloop -->
  
  <!-- loop -->
  <div class="cells btncells">
    <div class="divbtn" style="background-color: #ffffff;border: 1px solid #2e6da4; width: 99%;" onclick="document.location='/'" >
        <span class="icons">
          <%=image_tag("icons/delivery.png", class: 'icons')%>
          <p>Delivery</p>
        </span>
    </div>
  </div>
  <!-- endloop -->
  
  <!-- loop -->
  <div class="cells btncells">
    <div class="divbtn" style="background-color: #4682b4;border: 1px solid #2e6da4; width: 99%;" onclick="document.location='/'" >
        <span class="icons">
          <%=image_tag("icons/gohome.png", class: 'icons')%>
          <p>Home</p>
        </span>
    </div>
  </div>
  <!-- endloop -->


</div>

</div>

<%= render :partial => 'footer' %>
