<style>

  body {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
  }

  img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
  }

  .main-page-container  {
    display: table;
    width: 100%;
    padding: 0px 1px 0px 1px;
  }

  .main-page-container-rows  {
    display: table-row;
  }

  .cells {
    display: table-cell;
  }


  /* ...................................... */
  .divbtn {
    height: 265px;
    display: table;
    margin-top: 10px;
    cursor:pointer;
    box-shadow: inset 2px -4px 2px 0px;
    background-color: white;
    border-radius: 7px;
    width: 99%;
    border: solid black 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
  }

  .icons {
    width: 160px;
    height: 160px;
    margin-top: 10%;
    text-align: middle;
  }

  .divbtn p {
    font-weight: bold;
  }

  .btncells {
    width: 25%;
    text-align: center;
  }

  .small-icons {
    width: 100px;
    height: 100px;
  }

  .header .cells {
    vertical-align: middle;
    padding-right: 5px;
  }

  #scan {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    font-size: 80px;
    margin-bottom: 6px;
    width: 44%;
  }

  .header .icons {
    width: 100px;
    height: 100px;
  }

  .button-label{
    /*font: italic small-caps bolder 16px/3 cursive;*/
    font: italic small-caps bolder condensed 17px/3 cursive;
  }
  /* ...................................... */
</style>

<%= render :partial => 'header' %>


<div class="main-page-container">

  <div class="main-page-container-rows">
    <!-- loop -->
    <div class="cells btncells">
      <div class="divbtn" onclick="document.location='/patient/districts'" >
        <span class="icons">
          <%=image_tag("icons/start-call-4.png", class: 'icons')%>
            <p class="button-label">Start call</p>
          </span>
        </div>
      </div>
      <!-- endloop -->

      <!-- loop -->
      <div class="cells btncells">
      <% param = 'house_keeping' %>
        <div class="divbtn" onclick="document.location='/house_keeping?param=<%= param %>'" >
          <span class="icons">
            <%=image_tag("icons/clear.png", class: 'icons')%>
              <p class="button-label">House Keeping</p>
            </span>
          </div>
        </div>
        <!-- endloop -->

        <!-- loop -->
        <div class="cells btncells">
          <div class="divbtn" onclick="document.location='/quick_summary'" >
            <span class="icons">
              <%=image_tag("icons/stats.png", class: 'icons')%>
                <p class="button-label">Captured data summary</p>
              </span>
            </div>
          </div>
          <!-- endloop -->

          <!-- loop -->
          <div class="cells btncells">
            <div class="divbtn" onclick="document.location='/report'" >
              <span class="icons">
                <%=image_tag("icons/reports.png", class: 'icons')%>
                  <p class="button-label">Reports</p>
                </span>
              </div>
            </div>
            <!-- endloop -->


          </div>


          <div class="main-page-container-rows">
          <!-- loop -->
          <div class="cells btncells">
            <div class="divbtn" onclick="document.location='/list'" >
              <span class="icons">
                <%=image_tag("icons/red_phone.png", class: 'icons')%>
                  <p class="button-label">Incomplete calls</p>
                </span>
              </div>
            </div>
            <!-- endloop -->

            <% if User.current.system_id == 'admin' %>
              <!-- loop -->
              <div class="cells btncells">
                <div class="divbtn" onclick="document.location='/configurations'" >
                  <span class="icons">
                    <%=image_tag("icons/reference.png", class: 'icons')%>
                      <p class="button-label">Reference material</p>
                    </span>
                  </div>
                </div>
                <!-- endloop -->
            <% else %>
                <!-- loop -->
                <div class="cells btncells">
                  <div class="divbtn" onclick="document.location='/home/reference_material'" >
                  <span class="icons">
                    <%=image_tag("icons/reference.png", class: 'icons')%>
                    <p class="button-label">Reference material</p>
                    </span>
                  </div>
                </div>
                <!-- endloop -->
            <% end %>

                <!-- loop -->
                <div class="cells btncells">
                  <div class="divbtn" onclick="document.location='/manage_user'" >
                    <span class="icons">
                      <%=image_tag("icons/Admin.png", class: 'icons')%>
                        <p class="button-label">Admin</p>
                      </span>
                    </div>
                  </div>
                  <!-- endloop -->

                  <!-- loop -->
                  <div class="cells btncells">
                    <div class="divbtn" onclick="document.location='/logout'" >
                      <span class="icons">
                        <%=image_tag("icons/Logout.png", class: 'icons')%>
                          <p class="button-label">Logout</p>
                        </span>
                      </div>
                    </div>
                    <!-- endloop -->


                  </div>


                </div>

                <%= render :partial => 'footer' %>
