<style>

body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.main-page-container  {
  display: table;
  width: 99.7%;
  padding: 5px 1px 0px 1px;
}

.main-page-container  {
  display: table;
  width: 100%;
  padding: 0px 1px 0px 1px;
}

.main-page-container-rows  {
  display: table-row;
}

.cells {
  display: table-cell;
}


/* ...................................... */
.divbtn {
  height: 265px;
  display: table;
  margin-top: 10px;
  cursor:pointer;
}

.icons {
  width: 160px;
  height: 160px;
  margin-top: 10%;
  text-align: middle;
}

.divbtn p {
  font-weight: bold;
}

.btncells {
  width: 25%;
  text-align: center;
}

.small-icons {
  width: 100px;
  height: 100px;
}

.header .cells {
  vertical-align: bottom; 
  padding-right: 5px;
}

#scan {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  font-size: 80px;
  margin-bottom: 6px;
  width: 44%;
}

.header .icons {
  width: 100px;
  height: 100px;
}

/* ...................................... */
</style>

<!--div class="main-page-container">


<div class="main-page-container-rows header">
  <div class="cells" style="width:5.5%;">
    <span class="icons small-icons">
      <%=image_tag("icons/barcode.png", class: 'icons')%>
    </span>
  </div>
  <div class="cells" style="width:79.5%; border-style: solid; border-width: 0px;">
    <input type="text" name="barcode" id="scan" />
  </div>
  <div class="cells" style="border-style: solid; text-align: center; border-width: 1px; width: 10%;">
    <span class="icons small-icons">
      <%=image_tag("index.jpeg", class: 'icons')%>
    </span>
  </div>
</div>

</div-->
<%= render :partial => 'header' %>

<div class="main-page-container">

<div class="main-page-container-rows">
  <!-- loop -->
  <div class="cells btncells">
    <div class="divbtn" style="background-color: #708090;border: 1px solid #2e6da4; width: 99%;" onclick="document.location='/patient/find_by_phone'" >
        <span class="icons">
          <%=image_tag("icons/Directory.png", class: 'icons')%>
          <p style="color: black;">Find by phone</p>
        </span>
    </div>
  </div>
  <!-- endloop -->
  
  <!-- loop -->
  <div class="cells btncells">
    <div class="divbtn" style="background-color: #ff8509;border: 1px solid #2e6da4; width: 99%;" onclick="document.location='/patient/find_by_identifier" >
        <span class="icons">
          <%=image_tag("icons/user-id.png", class: 'icons')%>
          <p>Find by ID</p>
        </span>
    </div>
  </div>
  <!-- endloop -->
  
  <!-- loop -->
  <div class="cells btncells">
    <div class="divbtn" style="background-color:#4d8eff ;border: 1px solid #2e6da4; width: 99%;" onclick="document.location='/patient/search_by_name'" >
        <span class="icons">
          <%=image_tag("icons/kuser.png", class: 'icons')%>
          <p style="color: white;">Find by name</p>
        </span>
    </div>
  </div>
  <!-- endloop -->
  
  <!-- loop -->
  <div class="cells btncells">
    <div class="divbtn" style="background-color: tomato;border: 1px solid #2e6da4; width: 99%;" onclick="document.location='/'" >
        <span class="icons">
          <%=image_tag("icons/cancel-phone.png", class: 'icons')%>
          <p>Cancel call</p>
        </span>
    </div>
  </div>
  <!-- endloop -->

  
</div>

</div>

<%= render :partial => 'footer' %>
