<script type="text/javascript" type="text/javascript" src="/assets/jquery.js"></script>
<script type="text/javascript" type="text/javascript" src="/assets/top-icon.js"></script>

<script>

    var tt_cancel_destination = "/patient/dashboard/<%= @patient_obj.patient_id %>/tasks";

    var group = '<%= @group%>';
    var clinical_questions = <%= raw (@clinical_questions).to_json%>;

    var answers = new Array();
    var answer;

    var answered_questions = new Array();
    var answered_question;

    function setGroup() {
        group = $('touchscreenInput'+tstCurrentPage).value;
    }

    function getGroup() {
        return group;
    }

    function getAnswers() {
        group;
        answered_questions;
        answers;
    }

    function setAnswers(group, question) {

        answered_question = question;
        answered_questions.push(answered_question);

        answer = $('touchscreenInput'+tstCurrentPage).value;
        answers.push(answer);
    }

    function loadSummary() {
        $('touchscreenInput'+tstCurrentPage).style.display = 'none';
        var input_frame = document.getElementById('inputFrame'+tstCurrentPage);

        var table = document.createElement('table');
        input_frame.appendChild(table);

        var row = document.createElement('tr');
        table.appendChild(row);

        var col = document.createElement('td');
        col.innerHTML = '<h2><u>'+group+'</u><h2>';

        for(var i = 0; i <= answered_questions.length - 1; i++) {
            col.innerHTML += answered_questions[i]+'&nbsp;';
                col.innerHTML += '<b>'+answers[i]+'</b><br><hr>';
        }

        row.appendChild(col);
    }

</script>

<%= form_tag("/encounters/create", id: "clinical_assessment", method: 'post', enctype: 'multipart/form-data') do %>
    <%= hidden_field_tag "encounter[encounter_type]", EncounterType.find_by_name("CLINICAL ASSESSMENT").id %>
    <%= hidden_field_tag "encounter[patient_id]", @patient_obj.patient_id %>
    <%= hidden_field_tag "encounter[encounter_datetime]", (session_date || DateTime.now()).to_s(:db) %>
    <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>

    <% @current_data = Encounter.current_data("CLINICAL ASSESSMENT", @patient_obj.patient_id)%>

    <%= select_tag 'nutrition_group',
                   options_for_select(['',
                                       'Group 1',
                                       'Group 2',
                                       'Group 3',
                                       'Group 4',
                                       'Group 5',
                                       'Group 6',
                                       'Group 7'],
                                      @group),
                   :helpText =>'Target group',
                   :tt_onLoad => "showHelpButton();$('keyboard').style.display = 'none' ",
                   :tt_onUnLoad => 'hideHelpButton();setGroup();',
                   :tt_pageStyleClass => 'longSelectList',
                   :id => 'clinical_question',
                   :condition => 'false',
                   :allowFreeText => false
    %>

    <% @clinical_questions.each do |group, clinical_questions| %>
        <% clinical_questions.each do | clinical_question| %>
            <%= hidden_field_tag('observations[][concept_name]', "#{clinical_question}") %>
            <%= select_tag 'observations[][value_coded_or_text]',
                           options_for_select(['',
                                               'Yes',
                                               'No'] ,
                                              @current_data['CLINICAL ASSESSMENT']),
                           :helpText =>"#{clinical_question}",
                           :tt_onLoad => "showHelpButton();getGroup();$('keyboard').style.display = 'none';getAnswers(); $('nextButton').style.display = 'none' ",
                           :tt_onUnLoad => "hideHelpButton();setAnswers(group,'#{clinical_question}');",
                           :condition => "'#{group}'.match(group)",
                           :tt_requireNextClick => false,
                           :id => "#{clinical_question}",
                           :allowFreeText => false
            %>

            <%= hidden_field_tag('observations[][concept_name]', 'How many days have you had a fever?') %>
            <%= text_field_tag 'observations[][numeric]', nil,
                               :helpText => 'How many days have you had fever?',
                               :condition => "'#{clinical_question}' == 'Do you have a fever?' && $('#{clinical_question}').value == 'Yes';",
                               :tt_onLoad => "showHelpButton(); $('nextButton').style.display = 'inline' ",
                               :field_type => 'number',
                               :tt_pageStyleClass => 'NumbersOnly',
                               :tt_onUnLoad => 'hideHelpButton();'
            %>

            <%= hidden_field_tag("observations[][concept_name]", 'How many days have you had diarrhea?') %>
            <%= text_field_tag 'observations[][numeric]', nil,
                               :helpText => 'How many days have you had diarrhea?',
                               :condition => "'#{clinical_question}' == 'Do you have diarrhea?' && $('#{clinical_question}').value == 'Yes'; ",
                               :tt_onLoad => "showHelpButton(); $('nextButton').style.display = 'inline' ;$('nextButton').innerHTML = '<span>Next</span>'",
                               :field_type => 'number',
                               :tt_pageStyleClass => 'NumbersOnly',
                               :tt_onUnLoad => 'hideHelpButton();'
            %>
        <% end %>
    <% end %>

    <% if false %>
        <%= text_field_tag 'summary', nil,
                           :helpText => 'Clinic Assessment Summary',
                           :tt_onLoad => "$('nextButton').style.display = 'inline'; $('keyboard').style.display = 'none';getAnswers();loadSummary();",
                           :optional => true
        %>
    <% end %>

<% end %>