<html>
<head>
  <script type="text/javascript" type="text/javascript" src="/assets/jquery.js"></script>
  <script type="text/javascript" type="text/javascript" src="/assets/top-icon.js"></script>
  <%= javascript_include_tag "/javascripts/jquery-1.6.1.min.js" %>
  <%= javascript_include_tag "/javascripts/jquery-ui-1.8.13.custom.min.js" %>
  <%= javascript_include_tag "/javascripts/ui.dropdownchecklist.js" %>

  <style>
        .table{
            padding-top: 20px;
            width: 87%;
            margin:auto;
            color: white;
            font-size: 1.2em;
            border: solid #d3d3d3 2px;
            border-radius: 10px;
        }
        caption{
            font-size: 1.3em;
            font-weight: bold;
            width: 90%
            margin: auto;
            padding-top: 20px;
            color: black;
            text-align: center;
        }
        #table td{
            color: rgb(20, 20, 20);
            width: 33%;
        }
        #table th{
            background-color: #3366CC;
            border: 1px solid white;
            padding: 9px;
        }
        tr .even, tr .even .input .ui-dropdownchecklist-text{
            background: #cfcfcf !important;
        }
        tr .odd, tr .odd .input .ui-dropdownchecklist-text{
            background: #F1F0F1 !important;
        }

    </style>
</head>
<script>

</script>

<body>
    <div id="dietary_analysis">
        <!-- Added a border to the table. Refer to above CSS -->
        <table class="table" id="table">
          <caption> Dietary Assessment </caption>
          <thead class="header">
            <tr class="row">
              <% if @group.downcase != 'group 4'%>
                <th>Time of Day</th>
              <%end %>
              <th>Type of Food/Drink</th>
              <% if @group.downcase == 'group 4'%>
                   <th> Number of Times Per Day</th>
              <% end %>
              <th>Typically Taken</th>
            </tr>
          </thead>
              <% 6.times do |i|%>
                  <tr class="row input-row">

                    <% if @group.downcase != 'group 4'%>
                        <td class="<%= (i % 2 == 0 ? 'even' : 'odd')%>">
                            <select name="meal_type[<%=i%>]" class="<%= i%> select meal-type input" >
                              <% @meal_types[@group.downcase].each  do |type|%>
                                <option><%= type %></option>
                              <% end %>
                            </select>
                        </td>
                    <% end %>

                    <td class="<%= (i % 2 == 0 ? 'even' : 'odd')%>">
                      <select name="food_type[<%=i%>][]" class="<%= i%> select food-type input" multiple="multiple" >
                        <% @food_types[@group.downcase].each  do |type|%>
                            <option value="<%= type %>"><%= type %> <%= @example_foods[type].strip rescue nil%></option>
                        <% end %>
                      </select>
                    </td>

                    <% if @group.downcase == 'group 4'%>
                        <td class="<%= (i % 2 == 0 ? 'even' : 'odd')%>">
                          <select name="times_per_day[<%= i%>]" class="<%= i%> select times-per-day input" >
                            <option></option>
                            <% (1 .. 8).each do |type|%>
                                <% if type == 8 %>
                                    <% type = '8+' %>
                                <% end %>
                                <option><%= type %></option>
                            <% end %>
                          </select>
                        </td>
                    <% end %>

                    <td class="<%= (i % 2 == 0 ? 'even' : 'odd')%>">
                      <select name="consumption_method[<%= i%>]" class="<%= i%> select consumption-type input">
                        <% @consumption_method.each  do |type|%>
                            <option><%= type %></option>
                        <% end %>
                      </select>
                    </td>
                  </tr>
              <% end %>
        </table>

      <div id="alert" style="width: 90%;margin:auto;height: 15vh; margin-top: 20px;
              border: 1px solid #f5f5f5;color: red; text-align: center; font-size: 1.5em;">

      </div>

      <form action="/encounters/create" method="POST">
        <%= hidden_field_tag "encounter[encounter_type]", EncounterType.find_by_name("DIETARY ASSESSMENT").id %>
        <%= hidden_field_tag "encounter[patient_id]", @patient_obj.patient_id %>
        <%= hidden_field_tag "encounter[encounter_datetime]", (session_date || DateTime.now()).to_s(:db) %>
        <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>
        <%= hidden_field_tag "patient_id", @patient_obj.patient_id %>

        <input name="test" tt_onLoad="pageSetup();showHelpButton();$('keyboard').style.display='none';"/>
      </form>
    </div>

    <div id="footer" >
    </div>
</body>
<style>
    /** Minimal stand-alone css for dropdownchecklist support
        We highly recommend using JQuery ThemeRoller instead
    */
    .ui-dropdownchecklist {
        font-size: medium;
        color: black;
    }
    .ui-dropdownchecklist-selector {
        height: 20px;
        border: 1px solid #ddd;
        background: #fff;
    }
    .ui-state-hover, .ui-state-active {
        border-color: #5794bf;
    }
    .ui-dropdownchecklist-dropcontainer {
        background-color: #fff;
        border: 1px solid #999;
    }
    .ui-dropdownchecklist-item {
    }
    .ui-state-hover {
        background-color: #39f !important;
    }
    .ui-state-disabled label {
        color: #ccc;
    }
    .ui-dropdownchecklist-group {
        font-weight: bold;
        font-style: italic;
        background: white !important;
    }
    .ui-dropdownchecklist-indent {
        padding-left: 7px;
    }
    /* Font size of 0 on the -selector and an explicit medium on -text required to eliminate
       descender problems within the containers and still have a valid size for the text */
    .ui-dropdownchecklist-selector-wrapper {
        vertical-align: middle;
        font-size: 0px;
        width: 100% !important;
    }
    .ui-dropdownchecklist-selector {
        padding: 1px 2px 2px 2px;
        font-size: 0px;
        width: 100%;
    }
    .ui-dropdownchecklist-text {
        font-size: medium;
        line-height: 30px;
    }
    .ui-dropdownchecklist-group {
        padding: 1px 2px 2px 2px;
    }

    /** Simple modifications needed for DropDownCheckList to take advantage of ThemeRoller settings */
    .ui-dropdownchecklist .ui-widget-content
    , .ui-dropdownchecklist .ui-widget-header {
        border: none;
        width:100%;
    }
    .ui-dropdownchecklist-indent {
        padding-left: 7px;
    }
    /* Font size of 0 on the -selector and an explicit medium on -text required to eliminate
       descender problems within the containers and still have a valid size for the text */
    .ui-dropdownchecklist-selector-wrapper
    , .ui-widget.ui-dropdownchecklist-selector-wrapper {
        vertical-align: middle;
        font-size: 0px;
    }
    .ui-dropdownchecklist-selector {
        padding: 1px 2px 2px 2px;
        font-size: 0px;
    }
    .ui-dropdownchecklist-text {
        font-size: medium;
    }
    .ui-dropdownchecklist-item
    , .ui-dropdownchecklist-item input {
        vertical-align: middle;
    }
    .ui-dropdownchecklist-group {
        padding: 1px 2px 2px 2px;
    }

    tr .even, tr .even .ui-state-default{
        background: #cfcfcf !important;
    }
    tr .odd, tr .odd .ui-state-default{
        background: #F1F0F1 !important;
    }
    .option{
        font-size: 1.1em !important;
        padding: 10px !important;
        border: 1px solid white !important;
    }
</style>

<script>
    var tt_cancel_destination = "/patient/dashboard/<%=@patient_obj.patient_id rescue params[:patient_id]%>/tasks"
    jQuery(".select").dropdownchecklist();

    jQuery('.ui-dropdownchecklist, .ui-dropdownchecklist-selector, .ui-dropdownchecklist-text').css(
            {
                'width' : (0.33333*jQuery('.table').width()+'px'),
                'font-size' : '1.05em',
                'height' : '50px'
            }
    );

    jQuery('.ui-dropdownchecklist-text').css({
        'padding-left' : '10px'
    });

    jQuery('.ui-dropdownchecklist-item:parent div').css({
        'background' : 'lightgreen'
    });

    function submitForm(){
        var form = document.forms[0];
        var selects = document.getElementsByClassName('select');
        for(var i = 0; i < selects.length; i ++){
            form.appendChild(selects[i]);
        }
        form.submit();
    }

    function pageSetup(){
        __$('page' + tstCurrentPage).innerHTML = "";
        __$('page' + tstCurrentPage).appendChild(__$('table'));
        __$('page' + tstCurrentPage).appendChild(__$('alert'));

        __$('nextButton').onmousedown = function(){
           checkValidations();
           if(Object.keys(messages).length == 0) {
               submitForm();
           }else{
               showMessage("Incomplete entries for " + Object.keys(messages).length + " row" + (Object.keys(messages).length > 1 ? "s" : ''));
           }
        }
        __$('clearButton').onmousedown = function(){
        }
    }

    var messages = {};

    function checkValidations(){
        var fields = document.getElementsByClassName("select");
        messages = {};
        __$("alert").innerHTML = "";
        for(var i = 0; i < fields.length; i++){
            var text = fields[i].parentNode.getElementsByClassName("ui-dropdownchecklist-text")[0];
            try{txt = text.innerHTML.replace(/&nbsp\;/g, '')}catch(e){};
            if(txt && txt.trim().length > 0){
                validate(fields[i].className.split(" ")[0].trim());
            }
        }

        for(var i in messages){
            __$("alert").innerHTML = __$("alert").innerHTML + messages[i] + "<br />";
        }

        setTimeout("checkValidations()", 1000);
    }

    function validate(classNum){
        var rowFields = document.getElementsByClassName(classNum);
        delete messages[classNum];
        for(var i = 0; i < rowFields.length; i ++){
            var text = rowFields[i].parentNode.getElementsByClassName("ui-dropdownchecklist-text")[0];
            if(text.innerHTML.replace(/&nbsp\;/g, '').trim().length == 0){
                messages[classNum] = "Incomplete entries for row : <i style='color: blue'>" + (parseInt(classNum) + 1) + "</i>";
            }
        }
    }

    var preselect_options = JSON.parse('<%=raw(@preselect_options.to_json)%>');
    function preselect(pos){
        var data = preselect_options[pos];
        var rowFields = document.getElementsByClassName(pos);
        for(var i = 0; i < rowFields.length; i ++){
            var text = rowFields[i].parentNode.getElementsByClassName("ui-dropdownchecklist-text")[0];
            var key = "";
            if(rowFields[i].className.match("meal-type")){
                key = "meal_type";
            }else if(rowFields[i].className.match("food-type")) {
                key = "food_type";
            }else if(rowFields[i].className.match("consumption-type")){
                key = "typically_eaten";
            }else if(rowFields[i].className.match("times-per-day")){
                key = "number_of_times_per_day";
            }

            try {
                var options = data[key];
                var dropdown_options = rowFields[i].parentNode.getElementsByTagName("input");
                var curValue = text.innerHTML.replace(/&nbsp\;/g, '').trim();
                for (var o in dropdown_options) {
                    var value = dropdown_options[o].value;
                    if (curValue.length == 0 && options.indexOf(value) >= 0) {
                        dropdown_options[o].parentNode.click();
                    }
                }
            }catch(err){}
        }
    }

    for(var n in preselect_options){
        preselect(n);
    }

    setTimeout("checkValidations()", 500)
</script>


