<script type="text/javascript" type="text/javascript" src="/assets/jquery.js"></script>
<script type="text/javascript" type="text/javascript" src="/assets/top-icon.js"></script>

<script>
    var tt_cancel_destination = "/patient/dashboard/<%= @patient_obj.patient_id %>/tasks"
    var symptoms_values = [];

    function setConceptNamesAndValues(symptoms, observations, obs_type){

        var values_string = selectedValue(observations);

        /* clear the fields*/
        for (var index = 0; index < symptoms.length; index++){
            var concept_name        = obs_type + index +"_concept_name";
            var value_coded_or_text = obs_type + index +"_value_coded_or_text";

            if(values_string.contains(symptoms[index][0]) && symptoms[index][1] != ""){
                $(concept_name).value         = symptoms[index][1];
                $(value_coded_or_text).value  = 'YES';
            }
            else{
                $(concept_name).value         = '';
                $(value_coded_or_text).value  = '';
            }
        }
    }
    var selected_danger_signs = [];
    function selectedInitialDangerSigns() {

        if (tstCurrentPage == 0){
            selected_danger_signs = [];
        }

        list =  __$('page' + tstCurrentPage).getElementsByTagName('img');
        for(var i = 0; i < list.length; i ++){
            if(!list[i].src.match("unticked")) {
                selected_danger_signs.push(list[i].parentNode.parentNode.childNodes[1].innerHTML);
            }
        }

    }

    function hideSelectedValues(){
        //Rather preselect and not hide
      var dangerSigns = selected_danger_signs;
      var liElements = __$('page' + tstCurrentPage).getElementsByTagName("li");

        for (var i = 0; i<= dangerSigns.length - 1; i++){
        var danger_sign = dangerSigns[i];
        for (var j=0; j<=liElements.length -1; j++){
          var li_tst_value = liElements[j].getAttribute('tstvalue');
          if (danger_sign.trim().toUpperCase() == li_tst_value.trim().toUpperCase()){
            var img = liElements[j].getElementsByTagName('img')[0];
            if(img.src.match('unticked')){
                liElements[j].click();
                break;
            }
            }
        }
        }
    }

    var age = '<%= @age %>';
    function notify_reason() {
        <% if params[:end_call] == 'true' %>
            showMessage('This call is missing symptoms. Please record symptoms.', false, false);
        <% end %>
    }
</script>

<style>
    #num{
        display: none;
    }
</style>
<body onLoad="notify_reason()">
    <%= render :partial => 'patient/birthdate/button_footer' %>

    <%= form_tag("/encounters/create", id: "pregnancy-status", method: 'post', enctype: 'multipart/form-data') do %>
        <%= hidden_field_tag "encounter[encounter_type]", EncounterType.find_by_name("HEALTH SYMPTOMS").id %>
        <%= hidden_field_tag "encounter[patient_id]", @patient_obj.patient_id %>
        <%= hidden_field_tag "encounter[encounter_datetime]", (session_date || DateTime.now()).to_s(:db) %>
        <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>

        <% @current_data = Encounter.current_data("HEALTH SYMPTOMS", @patient_obj.patient_id)%>
        <%= hidden_field_tag("observations[][concept_name]", @symptom_concept) %>
        <%= select_tag "observations[][value_coded_or_text_multiple]", options_for_select(@health_symptoms , @current_data[@symptom_concept.upcase]),
                       :helpText =>"Experiencing any of the following symptoms?",
                       :multiple => true,
                       :tt_onLoad => "showHelpButton();setListAttributes();",
                       :tt_BeforeUnLoad => "selectedInitialDangerSigns();",
                       :tt_onUnLoad => "hideHelpButton();",
                       :tt_pageStyleClass => 'longSelectList',
                       :id => "health_symptoms",
                       :allowFreeText => false
        %>


        <%= hidden_field_tag('observations[][concept_name]', 'Number of days') %>
        <%= text_field_tag 'observations[][numeric]', nil,
                           :helpText => 'Number of days',
                           :condition => "$('health_symptoms').value != 'Other'",
                           :tt_onLoad => "$('nextButton').style.display = 'inline' ",
                           :field_type => 'number',
                           :condition => "parseInt(age) <= 5",
                           :tt_pageStyleClass => 'NumbersOnly',
                           :tt_onUnLoad => 'hideHelpButton();'
        %>

        <%= hidden_field_tag("observations[][concept_name]", "Danger signs") %>
        <%= select_tag "observations[][value_coded_or_text_multiple]", options_for_select(@danger_signs , @current_data['DANGER SIGNS']),
                       :helpText =>"Select danger signs",
                       :multiple => true,
                       :optional => false,
                       :condition => "parseInt(age) > 5",
                       :tt_onLoad => "setTimeout('hideSelectedValues()', 100);",
                       :tt_BeforeUnLoad => "selectedInitialDangerSigns();",
                       :tt_pageStyleClass => 'longSelectList',
                       :id => "danger_status",
                       :allowFreeText => false
        %>

        <%= hidden_field_tag("observations[][concept_name]", @info_concept) %>
        <%= select_tag "observations[][value_coded_or_text_multiple]", options_for_select(@health_info , @current_data[@info_concept.upcase]),
                       :helpText =>"Does the caller want more information from below?",
                       :multiple => true,
                       :optional => false,
                       :tt_pageStyleClass => 'longSelectList',
                       :id => "more_info_topics",
                       :allowFreeText => false
        %>

        <%= hidden_field_tag("observations[][concept_name]", "Danger signs") %>
        <%= select_tag "observations[][value_coded_or_text_multiple]", options_for_select(@danger_signs , nil),
                       :helpText =>"Select additional danger signs",
                       :multiple => true,
                       :optional => true,
                       :condition => "parseInt(age) > 5",
                       :tt_pageStyleClass => 'longSelectList',
                       :tt_onLoad => "setTimeout('hideSelectedValues()', 100);",
                       :id => "additional_danger_signs",
                       :allowFreeText => false
        %>
    <% end %>
</body>