<script type="text/javascript" type="text/javascript" src="/assets/jquery.js"></script>
<script type="text/javascript" type="text/javascript" src="/assets/top-icon.js"></script>

<script>
    var tt_cancel_destination = "/patient/dashboard/<%= @patient_obj.patient_id %>/tasks"
    var symptoms_values = [];

    function setConceptNamesAndValues(symptoms, observations, obs_type){

        var values_string = selectedValue(observations);

        /* clear the fields*/
        for (var index = 0; index < symptoms.length; index++){
            var concept_name        = obs_type + index +"_concept_name";
            var value_coded_or_text = obs_type + index +"_value_coded_or_text";

            if(values_string.contains(symptoms[index][0]) && symptoms[index][1] != ""){
                $(concept_name).value         = symptoms[index][1];
                $(value_coded_or_text).value  = 'YES';
            }
            else{
                $(concept_name).value         = '';
                $(value_coded_or_text).value  = '';
            }
        }
    }
    var selected_danger_signs = [];
    function selectedInitialDangerSigns() {

        if (tstCurrentPage == 0){
            selected_danger_signs = [];
        }

        list =  __$('page' + tstCurrentPage).getElementsByTagName('img');
        for(var i = 0; i < list.length; i ++){
            if(!list[i].src.match("unticked")) {
                selected_danger_signs.push(list[i].parentNode.parentNode.childNodes[1].innerHTML);
            }
        }

    }

    function hideSelectedValues(){
        //Rather preselect and not hide
      var dangerSigns = selected_danger_signs;
      var liElements = __$('page' + tstCurrentPage).getElementsByTagName("li");

        for (var i = 0; i<= dangerSigns.length - 1; i++){
        var danger_sign = dangerSigns[i];
        for (var j=0; j<=liElements.length -1; j++){
          var li_tst_value = liElements[j].getAttribute('tstvalue');
          if (danger_sign.trim().toUpperCase() == li_tst_value.trim().toUpperCase()){
            var img = liElements[j].getElementsByTagName('img')[0];
            if(img.src.match('unticked')){
                liElements[j].style.display = 'none';
                break;
            }
            }
        }
        }
    }

    var age = '<%= @age %>';
    function notify_reason() {
        <% if params[:end_call] == 'true' %>
            showMessage('This call is missing symptoms. Please record symptoms.', false, false);
        <% end %>
    }
</script>

<style>
    #num{
        display: none;
    }
</style>
<body onLoad="notify_reason()">
    <!-- This footer partial below removed
     to avoid overlapping with default touchscreen toolkit footer. -->
    <%#= render :partial => 'patient/birthdate/button_footer' %>

    <% if @age <= 5 %>
        <%= render :partial => 'child_symptoms' %>
    <% elsif (!((@patient_obj.sex.match('F') && @patient_obj.age > 13 && @patient_obj.age < 50) || @patient_obj.age <= 5)) %>
        <%= render :partial => 'general_health_symptoms' %>
    <% else %>
        <%= render :partial => 'maternal_health_symptoms' %>
    <% end %>
</body>