<script>

    function __$(id){
        return document.getElementById(id);
    }
    function nextDestination(){
        if(__$("diet_assess").style.display != 'none') {
            <% if params[:auto_flow]%>
                document.location =  '/encounters/new/update_outcomes?patient_id=<%= @patient_obj.patient_id %>'
                //&show_summary=true'; No summary needed else include show_summary
            <% else %>
                document.location = '/patient/dashboard/<%= @patient_obj.patient_id %>/tasks';
            <% end %>
        }else{
            __$("diet_assess").style.display = 'block';
            __$("clinic_assess").style.display = 'none';
        }
    }

    function backDestination(){
         document.location =  '/encounters/new/update_outcomes?patient_id=<%= @patient_obj.patient_id %>&show_summary=true';
    }

    function onLoads() {

        var cancel_button = document.getElementById('btnCancel');
        cancel_button.setAttribute('onclick',"document.location = '/patient/dashboard/<%= @patient_obj.patient_id %>/tasks';");

        var next_button = document.getElementById('btnNext');
        <% if params[:auto_flow]%>
            next_button.setAttribute('onclick','nextDestination();');
        <% else %>
            next_button.style.display = 'none';
        <% end %>
    }
</script>
<style>

  .main-contain{
      width: 100%;
  }
  .btn {
      padding-bottom: 5px;
      text-align: center;
      width: 180px;
      height: 75px;
      cursor: pointer;
      float: right;
      box-shadow: inset 2px -4px 2px 0px;
      background-color: white;
      border-radius: 7px;
      border: solid black 3px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -moz-box-shadow:    inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 10px #000000;
      box-shadow:         inset 0 0 10px #000000;
  }

  .task-icons {
      height: 70px;
      width: 130px;
  }

  .diet{
      border: 1px solid #d3d3d3 !important;
      width: 97%;
      margin: auto;
      display: table-cell;
      padding: 0px;
  }
  #table2{
      width: 100%;
      margin:auto;
      margin-top: 10px;
      font-size: 1em;
  }
  #table2 caption{
      font-size: 1em;
      font-weight: bold;
      width: 90%
  }

  #table2 th{
      background-color: #b9c7cc;
      border: 0px solid white;
      padding: 7px;
  }

  #table2 tr .even{
      padding: 0px;
      background: ghostwhite !important;
  }

  #table2 tr .odd{
      padding: 3px;
      border-bottom: 1px solid lightgray;
  }
  .food-icon{
      height: 110px;
      width: 110px;
      margin-left: 15%;
      margin-bottom: 15px;
  }

  .done{
      width: 40px;
      height: 40px;
  }

  .row{
      width: 100%;
  }
  /* Edit icon/button */
  .edit-icons {
      width: 50px;
      height: 50px;
      text-align: center;
      border: none;
  }
  .anchor_class a{
      /*border: 1px solid black;*/
      /*border-style: outset;*/
      position: absolute;
      right: 3px;
      border: 0px solid royalblue;
      border-radius: 5px;
      cursor: pointer;
      display: block;
      text-align: center;
      background-color: #ffffff;
      box-shadow: inset 3px -3px 3px -2px grey;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -moz-box-shadow: inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 10px #000000;
      text-decoration: none;
      transform: rotate(5deg);

  }
        /* --------------------------------- */

</style>

<body onload="onLoads();">
    <div class="main-contain" style=" width: 100%;display: table;">
        <div style="display: table-row">
            <div style="display: table-cell; width: 100%;">
                <!-- Partial for header -->
                <%= render :partial => 'patient/headers/common_header' %>
                <!------------------------------------------------------------------------>
            </div>
        </div>

        <div id="clinic_assess" style="display: table-row; position: relative;">
            <div style="display: table-cell; width: 100%;height: 37vh;">
                <!-- Partial summary for clinical assessment -->
                <%= render :partial => 'encounters/summaries/clinical_assessment_summary' %>
                <!------------------------------------------------------------------------>
            </div>
            <div class="anchor_class" style="position: absolute; top: 70px;">
                <a href="/encounters/new/clinical_assessment?patient_id=<%= @patient_obj.patient_id %>&show_summary=true">
                     <span>
                          <%=image_tag("icons/edit-demographic.png", class: 'edit-icons')%>
                     </span>
                </a>
            </div>
        </div>

        <div id="diet_assess" class="half-height" style=" width: 100%;display: table-row; position: relative;">
            <div style="display: table-cell; width: 100%;">
                <!-- Partial for dietary assessment -->
                <%= render :partial => 'encounters/summaries/dietary_assessment_summary' %>
                <!------------------------------------------------------------------------>
            </div>
            <div class="anchor_class" style="position: absolute; top: 0px;">
                <a href="/encounters/new/dietary_assessment?patient_id=<%= @patient_obj.patient_id %>">
                      <span>
                          <%=image_tag("icons/edit-demographic.png", class: 'edit-icons')%>
                      </span>
                </a>
            </div>
        </div>

        <!-- commented out for touchscreen toolkit footer instead of custom hotline ui buttons.
        <div style="position: absolute; left: 15px; bottom: 15px;" class="btn btn-back" onclick="backDestination()">
           <%#=image_tag("icons/back_white.png", class: 'task-icons')%>
        </div>
        <div style="position: absolute; right: 15px; bottom: 15px;" class="btn btn-back" onclick="nextDestination()">
          <%#=image_tag("icons/next_white.png", class: 'task-icons')%>
        </div>
        -->
        <div style="display: table-row">
            <div style="display: table-cell; width: 100%;">
                <!-- Partial summary for clinical assessment -->
                <%= render :partial => 'patient/birthdate/button_footer' %>
                <!------------------------------------------------------------------------>
            </div>
        </div>
    </div>
</body>


