

<style>
#search-results {
  width: 99%;
}

</style>




<table id="search-results">
  <thead>
    </tr>
      <th>Identifiers</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>Atrribute(s)</th>
    </tr>
  </thead>  

  <tbody>
    <%(1.upto(10)).each do |n|%>
      <tr>
        <td><%=n%></td>
        <td><%=n%></td>
        <td><%=n%></td>
        <td><%=n%></td>
        <td><%=n%></td>
        <td><%=n%></td>
      </tr>
    <%end%>
  </tbody>
</table>


<script>                                                                        

</script>
