<script>
    var tt_cancel_destination;
    if (<%= params[:redirect] == 'house_keeping'%>){
        tt_cancel_destination = "/house_keeping";
    }
    else {
        tt_cancel_destination = "/start_call";
    }


 function set_ajaxURL_for_suggestions(url, filter_value) {
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url + filter_value + "&search_string=");
    listSuggestions(tstCurrentPage);
  }

  function changeNextButtonText() {
      //$('touchscreenInput'+tstCurrentPage)
      document.getElementById('nextButton').innerHTML = '<span>Search</span>';
  }
</script>



<%= form_tag("/patient/search_result", id: "create-form", method: 'post', enctype: 'multipart/form-data') do %>

    <input type="hidden" name="action_type" value="<%= params[:action_type]%>" />

    <%= select_tag("person[gender]", options_for_select(['','Male','Female'] ,params[:gender]),
                   :helpText =>"Gender",
                   :id => "gender",
                   :allowFreeText => false)
    %>

    <%= text_field_tag "person[names][given_name]", params[:firstname],
                       {:id => 'given_name',
                        :field_type => 'alpha',
                        :helpText => 'First name',
                        :ajaxURL => '/patient/given_names?search_string=',
                        :allowFreeText => true }%>

    <%= text_field_tag "person[names][family_name]", params[:lastname],
                       {:id => 'family_name',
                        :field_type => 'alpha',
                        :helpText => 'Last name',
                        :ajaxURL => '/patient/family_names?search_string=',
                        :allowFreeText => true }%>

    <% if params[:action_type] == 'guardian'%>
        <input type="hidden" name="patient_id" value="<%= params[:patient_id]%>" />
    <% end %>
<%end%>
