<%= render :partial => 'header' %>
<form id="tt_form">
  <input name="test" type="text" id="hook" tt_onLoad="loadControlKeys()"/>
</form>
<div class="main-page-container">
    <fieldset class="main_fieldset">
      <legend>
        <%=@report_name %>
      </legend>
      <table id="report_table" cellspacing="0" width="100%">
          <tr>
            <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
            <%= "Follow up Result".humanize.titleize %>
            </td>
            
            <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Count
            </td>
            
            <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              Percentage
            </td>
          </tr>
          
        <%@report.reverse.map do |data|%>
          <tr>
            <td width="25%" colspan = 3 class="cellleft cellbottom cellright main-table-cell" style="background-color:ddd; text-align:left;font-weight: bold; font-size: large; font-style: italic;">
              <%= @grouping.humanize + " beginning "+ data[:start_date] + " ending " + data[:end_date]%>
            </td>
          </tr>
          <tr>
            <td  class="cellleft cellbottom main-table-cell">
                Total Calls
            </td>
            <td  class="cellleft cellbottom main-table-cell">
              <%= data[:total_calls] %>
            </td>
            <td  class="cellleft cellbottom cellright main-table-cell"> 
              na
            </td>
          </tr>
          <tr>
            <td width="25%" colspan = 3 class="cellleft cellbottom cellright main-table-cell" style="background-color:ddd; text-align:left;font-weight: bold; font-size: large; font-style: italic;">
              Below are the results
            </td>
          </tr>
          
          <% data[:reasons].map do |result|%>
          <tr>
            <td class="cellleft cellbottom main-table-cell">
                <%=result[:reason_name].titleize %>
            </td>
            
            <td class="cellleft cellbottom main-table-cell">
                <%= result[:call_count] %>
            </td>
            
            <td class="cellleft cellbottom cellright main-table-cell">
                <%= result[:call_percentage] %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </table>

    </fieldset>
      
    </div>
