<%= render :partial => 'header' %>
<form id="tt_form">
    <input name="test" type="text" id="hook" tt_onLoad="loadControlKeys()"/>
</form>
<div class="main-page-container">
    <fieldset id="main-fieldset">
        <legend>
            <%=@report_name%> - <i><%=@patient_type%></i>
        </legend>
        <table cellspacing="0" width="100%" id="report_table">
            <tr>
                <%= "Filter Info: Grouping" %> - <%=@grouping.capitalize%><i><%=@special_message%></i>
            </tr>
            <tr style="background:#b6b3b3;">
                <td width="60%" class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
                    &nbsp;
                </td>
                <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
                    Count
                </td>
                <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
                    %age
                </td>
                <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
                    Min
                </td>
                <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
                    Max
                </td>
                <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
                    Avg
                </td>
                <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
                    S.Dev
                </td>
            </tr>
            <%@report.reverse.map do |data|%>
                <tr>
                    <td width="100%" colspan = 7 class="cellleft cellbottom main-table-cell" style="background-color:ddd; text-align:left;font-weight: bold; font-size: large; font-style: italic;">
                        <%= @grouping.humanize + " beginning "+ data[:patient_data][:start_date] + " ending " + data[:patient_data][:end_date]%>
                    </td>
                </tr>
                <%if @patient_type.downcase == 'children (under 5)' || @patient_type.downcase == 'children (6 - 14)' %>
                    <tr>
                        <td colspan = 7 class="cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
                            Gender
                        </td>
                    </tr>
                    <% data[:patient_data][:gender].map do | gender |%>
                        <tr>
                            <td class="cellleft cellbottom cellright main-table-cell">
                                <%= gender.first.humanize %>
                            </td>

                            <% if gender.first.downcase == 'female' %>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:female][:count] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:female][:percentage] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:female][:min] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:female][:max] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:female][:average] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom cellright main-table-cell">
                                    <%= data[:patient_type][:patient][:female][:sdev] rescue 0 %>
                                </td>
                            <% elsif gender.first.downcase == 'male' %>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:male][:count] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:male][:percentage] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:male][:min] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:male][:max] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:male][:average] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom cellright main-table-cell">
                                    <%= data[:patient_type][:patient][:male][:sdev] rescue 0 %>
                                </td>
                            <% end %>
                    <%  end %>
                    </tr>
                <% elsif @patient_type.downcase == 'non-mnch' %>
                    <tr>
                        <td colspan = 7 class="cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
                            Gender
                        </td>
                    </tr>
                    <% data[:patient_data][:gender].map do | gender |%>
                        <tr>
                            <td class="cellleft cellbottom cellright main-table-cell">
                                <%= gender.first.humanize %>
                            </td>

                            <% if gender.first.downcase == 'female' %>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:female][:count] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:female][:percentage] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:female][:min] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:female][:max] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:female][:average] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom cellright main-table-cell">
                                    <%= data[:patient_type][:patient][:female][:sdev] rescue 0 %>
                                </td>
                            <% elsif gender.first.downcase == 'male' %>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:male][:count] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:male][:percentage] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:male][:min] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:male][:max] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:male][:average] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom cellright main-table-cell">
                                    <%= data[:patient_type][:patient][:male][:sdev] rescue 0 %>
                                </td>
                            <%  end %>
                        </tr>
                    <% end %>

                <%elsif @patient_type.downcase == 'women' %>
                    <tr>
                        <td colspan = 7 class="cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
                            Pregnancy Status
                        </td>
                    </tr>
                    <% data[:patient_data][:pregnancy_status].map do | pregnancy_status |%>
                        <tr>
                            <td class="cellleft cellbottom main-table-cell">
                                <%= pregnancy_status.first.humanize %>
                            </td>

                            <% if pregnancy_status.first.downcase == 'pregnant' %>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:pregnant][:count] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:pregnant][:percentage] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:pregnant][:min] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:pregnant][:max] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:pregnant][:average] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom cellright main-table-cell">
                                    <%= data[:patient_type][:patient][:pregnant][:sdev] rescue 0 %>
                                </td>
                            <% elsif pregnancy_status.first.downcase == 'non_pregnant' %>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:not_pregnant][:count] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:not_pregnant][:percentage] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:not_pregnant][:min] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:not_pregnant][:max] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:not_pregnant][:average] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom cellright main-table-cell">
                                    <%= data[:patient_type][:patient][:not_pregnant][:sdev] rescue 0 %>
                                </td>
                            <% elsif pregnancy_status.first.downcase == 'delivered' %>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:delivered][:count] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:delivered][:percentage] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:delivered][:min] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:delivered][:max] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:delivered][:average] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom cellright main-table-cell">
                                    <%= data[:patient_type][:patient][:delivered][:sdev] rescue 0 %>
                                </td>
                            <% elsif pregnancy_status.first.downcase == 'miscarried' %>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:miscarried][:count] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:miscarried][:percentage] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:miscarried][:min] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:miscarried][:max] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:miscarried][:average] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom cellright main-table-cell">
                                    <%= data[:patient_type][:patient][:miscarried][:sdev] rescue 0 %>
                                </td>
                            <% end %>
                        </tr>
                    <% end %>

                <%elsif @patient_type.downcase == 'all' %>
                    <tr>
                        <td colspan = 7 class="cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
                            Patient Type
                        </td>
                    </tr>
                    <% data[:patient_data][:patient_type].map do | patient_type |%>
                        <tr>
                            <td class="cellleft cellbottom main-table-cell">
                                <%= patient_type.first.humanize %>
                            </td>

                            <% if patient_type.first.downcase == 'women' %>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:women][:count] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:women][:percentage] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:women][:min] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:women][:max] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:women][:average] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom cellright main-table-cell">
                                    <%= data[:patient_type][:patient][:women][:sdev] rescue 0 %>
                                </td>
                            <% elsif patient_type.first.downcase == 'children' %>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:children][:count] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:children][:percentage] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:children][:min] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:children][:max] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:children][:average] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom cellright main-table-cell">
                                    <%= data[:patient_type][:patient][:children][:sdev] rescue 0 %>
                                </td>
                            <% elsif patient_type.first.downcase == 'school_aged_children' %>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:school_aged_children][:count] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:school_aged_children][:percentage] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:school_aged_children][:min] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:school_aged_children][:max] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:school_aged_children][:average] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom cellright main-table-cell">
                                    <%= data[:patient_type][:patient][:school_aged_children][:sdev] rescue 0 %>
                                </td>
                            <% elsif patient_type.first.downcase == 'non_mnch' %>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:non_mnch][:count] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:non_mnch][:percentage] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:non_mnch][:min] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:non_mnch][:max] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom main-table-cell">
                                    <%= data[:patient_type][:patient][:non_mnch][:average] rescue 0 %>
                                </td>
                                <td class="cellleft cellbottom cellright main-table-cell">
                                    <%= data[:patient_type][:patient][:non_mnch][:sdev] rescue 0 %>
                                </td>
                            <%  end %>

                        </tr>
                    <% end %>
                <% end %>
            <% end %>
        </table>

    </fieldset>
</div>

