<%= render :partial => 'header' %>

    <div>
    <fieldset class="main_fieldset">
      <legend >
        <%=@report_name %> - <i><%= @patient_type%> </i>
      </legend>
      <table cellspacing="0" width="100%">
        <tr>
          <%= "Filter Info: Grouping - #{@grouping.capitalize} #{@special_message} "  %>
        </tr>
        <tr>
          <td width="20%" class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold; text-align:left;">
              Caller Name
          </td>
          <td width="10%" class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Phone
          </td>
          <td width="70%" class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              Call Summary
          </td>
        </tr>

        <%@report.reverse.map do |data|%>
          <tr>
            <td colspan="3" class="cellleft cellbottom cellright main-table-cell" style="text-align:left; background-color:ddd">
              <%= @grouping.humanize + " ( " + data[:date_range].first + " - " + data[:date_range].last + " )"%>
            </td>
          </tr>
            <% data[:patient_info].each do |info| %>
            <% empty_space = '&nbsp;' %>
              <tr>
                <td class="cellleft cellbottom main-table-cell">
                  <%=  info[:name]%>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%=  info[:number][:cell_phone_number] %>
                </td>
                <td class="cellleft cellbottom cellright main-table-cell">
                  <%=  info[:visit_summary] %>
                </td>

              </tr>
            <% end  %>
        <% end %>
      </table>

    </fieldset>
    <div style="float:right; margin-top:0.5%;">
        <button  class="button green" onclick="window.location ='/reports_index?report_group=patient_analysis'">
           <span>Finish</span>
        </button>
      <button class="button red" onclick="goBack()"><span>Back</span></button>
    </div>
    </div>

  <%= render :partial => 'footer' %>
