<%= render :partial => 'header' %>
    <div>
    <fieldset class="main_fieldset">
      <legend >
        <%=@report_name %> - <i><%= @patient_type %></i>
      </legend>
      <table cellspacing="0" width="100%">
        <tr>
          <%= "Filter Info: Grouping - #{@grouping.capitalize} #{@special_message} "  %>
        </tr>
        <tr>
          <td width="48%" colspan = 2 class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold; text-align:right;">
              Total Calls
          </td>
          <td width="8%" class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold; text-align:left;">
              Total Callers
          </td>
          <td width="14%" colspan = 2 class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Any Health Symptoms
          </td>
          <td width="14%" colspan = 2 class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              Any Danger Signs
          </td>
          <td width="14%" colspan = 2 class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              Any Info Requested
          </td>
        </tr>
        <tr>
          <td width="44%" class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              &nbsp;
          </td>
          <td width="7%" class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Count
          </td>
          <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Count
          </td>
          <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Count
          </td>
          <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              %age
          </td>
          <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Count
          </td>
          <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              %age
          </td>
          <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Count
          </td>
          <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              %age
          </td>
        </tr>
        <%@report.reverse.map do |data|%>
          <tr>
            <td class="cellleft cellbottom main-table-cell" style="text-align:left">
              <%= @grouping.humanize + " ( "+ data[:start_date] + " - " + data[:end_date] + " )"%>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:total_calls_for_period] rescue 0 %>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:total] rescue 0 %>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:symptoms] rescue 0 %>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:symptoms_pct] rescue 0 %>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:danger] rescue 0 %>
            </td>
            <td class="cellleft cellbottom cellright main-table-cell">
              <%=  data[:danger_pct] rescue 0 %>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:info] rescue 0 %>
            </td>
            <td class="cellleft cellbottom cellright main-table-cell">
              <%=  data[:info_pct] rescue 0 %>
            </td>
          </tr>
        <% end %>
      </table>

    </fieldset>
    <div style="float:right; margin-top:0.5%;">
        <button  class="button green" onclick="window.location ='/reports_index?report_group=patient_analysis'">
           <span>Finish</span>
        </button>
      <button class="button red" onclick="goBack()"><span>Back</span></button>
    </div>
    </div>

    <%= render :partial => 'footer' %>
