<%= render :partial => 'header' %>
<script type="text/javascript" src="/assets/list.js"></script>
<style type="text/css">
    #main-div{
      width: 98%;
      margin: auto;
      margin-top: 1%;
    }
    #main-div fieldset{
      height: auto;
      border: 1px solid #000000;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    }
    #left{
      width: 55%;
      float:left;
      height: 100px;
    
    }
    .right{
      position: absolute;
      right: 2%;
      top :18%;
      width:30%;
      margin-top: 2%;
      margin-right: 4%;
      background: #efefef;
      height: 400px;
      float:right;
      overflow-y :scroll;
     // border: 1px dotted #3b3a3a;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #filter_table{
      width: 100%;
    }
    #filter_table td {
        padding: 1%;
        font-size: 20px;
       // width: 50%;
        font-weight: bold;

    }
    #filter_table tr td:nth-child(1){
        //width: 40%;
    }
    ul {
      list-style: none;
      padding: 1%;
    }
    li{
      text-indent: 2%;
      display: block;
      font-size: 23px;
      font-weight: bold;
      padding: 2%;
    }
    li:nth-child(even){
      background: #dcdcdc;
    }
    li:hover{
      background: #b4c6cf;
    }
    li:hover{
      background: #b4c6cf;
    }
    li:active{
      background: #b4c6cf;
    }
    input{
       width: 90%;
       height:36px;
       font-size:20px;
       font-weight: 4em;
       background: #fbfafa;
       border-radius: 15px;
       border: 2px solid #a7a7a8;
       font-family: serif;
    }
    #menu_filter{
      
      width: 50%;
      height: 30px;
      border-radius: 10px;
      margin-left: 2%;
      margin-top: 2%;
    }
</style>
<script type="text/javascript">
      function __$(id){
          return document.getElementById(id);
      }
      var date_ranges = <%= raw @report_date_range.to_json%>;
      var districts = <%= raw @districts.to_json%>;
      var inputs = {}
      var UpdateInputHash = function(hash, newKey, newVal, fn, bind){
        var prevKey=null, prevVal=null, inserted=false, newhash={};
        for(var currKey in hash){
          if (hash.hasOwnProperty(currKey)){
            var currVal = hash[currKey];
            if( !inserted && fn.call(bind, prevKey, prevVal, currKey, currVal) ){
              newhash[newKey] = newVal;
              inserted=true;
            }
            newhash[currKey] = currVal;
            prevKey = currKey;
            prevVal = currVal;
          } 
        }
        if(!inserted) newhash[newKey] = newVal;
        return newhash;
      };
      function setDateRange(quarter){
          var date_range;
          //quarter     = $(quarter).value;
          date_range  = date_ranges[quarter];
          __$('start_date').value = date_range[0];
          __$('end_date').value = date_range[1];
      }
      function setInpt(id,value,text){
        if(id =="currentdistrict"){
          __$("district").value = value
        }
        if(id =="report_date_range"){
            setDateRange(value);
        }else{
          inputs = UpdateInputHash(inputs,id,value, function(pk, pv, nk, nv){ 
                    return (nk=='Earl'); 
                  });
        }
       __$(id).style.border = "2px solid #b4c6cf";
       __$(id).value = text.replace("<a>", "").replace("</a>","").replace('<span class="item">','').replace('</span>',''); 
      }
      function changeSortLabel(control){
      		if(control.innerHTML=="Sort A - Z"){
      			control.innerHTML="Sort Z - A";
      		}
      		else{
      			control.innerHTML="Sort A - Z";
      		}
      }
      function changeDiv(id){
        jQuery(".right").css("visibility","hidden");
        jQuery("#"+id).css('visibility','visible');
      }
      function submitForm(){

          var input_fields = jQuery('#filter_table input');
          var form = document.createElement("form");
          form.setAttribute('action', '/report/reports');
          form.setAttribute('method', 'POST');

          for(var i = 0 ; i < input_fields.length; i++){

              var input = document.createElement('input');
              input.setAttribute('type','hidden');
              if (input_fields[i].type=="hidden"){
                   input.name = input_fields[i].name
                   input.value = input_fields[i].value;
              }else{
                  console.log(input_fields[i].name);
                  if(input_fields[i].value.length ==0){
                  	  __$(input_fields[i].name).focus();
                      __$(input_fields[i].name).style.border = "2px solid #ee7979";
                      return;
                  }
                  input.name = input_fields[i].name;
                  input.value = inputs[input_fields[i].name];
              }
              form.appendChild(input);

          }
          jQuery("#tt_form").append(form);
          form.submit();
      }
      function changeMenu(field){
            console.log("Change");
            var filtered  = [];
            for(var i = 0 ; i < districts.length; i++){
                if(districts[i].indexOf(field.value) > -1){
                    filtered.push(districts[i]);
                }
            }
            console.log(filtered);
      }
      function loadControls(){
	      tt_cancel_destination = "javascript:history.go(-1)";
	      __$("keyboard").innerHTML = "";
	      __$("keyboard").parentNode.removeChild(__$("keyboard"));

	      var page = document.getElementsByClassName('inputPage')[0];
	      page.parentNode.removeChild(page);

	      __$("clearButton").style.display = "none";
	      __$("nextButton").removeAttribute('onmousedown');
	      __$("nextButton").setAttribute('onmousedown','submitForm()');
	  }
</script>
<form id="tt_form">
  <input name="test" type="text" id="hook" tt_onLoad="loadControls()"/>
</form>
<div  id="main-div">
  <fieldset>
  <legend>Report Filters</legend>
  <div id="left">
    <table id="filter_table">
      <thead>
      </thead>
      <tbody>
        <tr>
            <td>District</td>
            <td>
                <input name="currentdistrict" id="currentdistrict" onfocus="changeDiv('district_div')">
            </td>
        </tr>
        <% if not @query == "individual_current_enrollments" %>
                    <tr>
                        <td>Date Range</td>
                        <td>
                            <input name="report_date_range" id="report_date_range" onfocus="changeDiv('date_range')">
                        </td>
                    </tr>
            <% if @report_type.downcase != 'tips' && @report_type.downcase != 'family_planning' %>
                <%if @query != "new_vs_repeat_callers" && @query != "follow_up" %>
                  <tr>
                      <td>Patient Type</td>
                      <td>
                          <input name="patient_type" id="patient_type" onfocus="changeDiv('p_type')">
                      </td>
                  </tr>
                <%end%>
            <% end %>
                <tr>
                    <td>Grouping Criterion</td>
                    <td>
                         <input name="grouping" id="grouping" onfocus="changeDiv('group')">
                    </td>
                </tr>
             <%if @query == "health_issues"%>
               <tr>
                    <td>Health Task</td>
                    <td>
                       <input name="health_task" id="health_task" onfocus="changeDiv('tasks')">
                    </td>
              </tr>
              <div id="task" class="right">
                  <ul>
                    <% @health_task.each do |task| %>
                         <li><%=task%></li>
                    <%end %>
                  </ul>
              </div>
            <%end%>

            <%if @query == "referral_followup"%>
            <tr>
                    <td>Outcome</td>
                    <td>
                       <input name="outcome" id="outcome" onfocus="changeDiv('outcom')">
                    </td>
            </tr>
            <%end%>

            <% if @report_type.downcase == 'call_analysis'%>
              <%if @query != "new_vs_repeat_callers" && @query != "follow_up" %>
                <tr>
                    <td>Staff to Report on</td>
                    <td>
                         <input name="staff_member" id="staff_member" onfocus="changeDiv('staff')">
                     </td>
                </tr>
                <tr>
                    <td>Call type</td>
                    <td>
                        <input name="call_type" id="call_type" onfocus="changeDiv('c_type')">
                    </td>
                </tr>
              <%end%>
            <% elsif @report_type.downcase == 'tips' %>
                  <tr>
                    <td>Content to Report on</td>
                       
                    <td>
                      <input name="content_type" id="content_type" onfocus="changeDiv('cont_type')">
                    </td>
                  </tr>
                  <tr>
                    <td>Language to Report on</td>
                    <td>
                         <input name="language" id="language" onfocus="changeDiv('lan')">
                    </td>
                  </tr>
              <% if @query != 'current_enrollment_totals' %>
                  <tr>
                    <td>Phone Type</td>
                    <td>
                         <input name="phone_type" id="phone_type" onfocus="changeDiv('phone')">
                    </td>
                  </tr>
              <% end %>
                  <tr>
                    <td>Tips Delivery Mode</td>
                    <td>
                       <input name="delivery" id="delivery" onfocus="changeDiv('tips')">
                    </td>
                  </tr>
                  <tr>
                    <td>Number Prefix</td>
                    <td>
                         <input name="network_prefix" id="network_prefix" onfocus="changeDiv('network')">
                    </td>
                  </tr>
            <% end %>
       <% end %>
        <!--tr>
              <td>Destination</td>
              <td><%= select_tag :report_destination,     options_for_select(@destination),
                {:helpText => "Select report destination"} %></td>
        </tr-->
      </tbody>
        <%= hidden_field_tag :query, "#{@query}"%>
        <%= hidden_field_tag :start_date, "", {:id => 'start_date'}%>
        <%= hidden_field_tag :end_date,   "", {:id => 'end_date'}%>
        <%= hidden_field_tag :district,   "", {:id => 'district'}%>
        <%= hidden_field_tag :report_type, "#{@report_type}", {:id => 'report_type'}%>
    </table>
  </div>
  <div id="district_div" class="right" >
      <input id="menu_filter" type="hidden" name="menu_filter" class="search">
      <!--font class="sort button" data-sort="item" style="margin-left:5%;padding:1.2%;background: #b4c6cf;height:30px;border:1px solid #a2a0a0; border-radius:10px; font-weight:bold" onclick="changeSortLabel(this)"> Sort A - Z</font-->
      <ul class="list">
        <% @districts.sort.each do |district| %>
              <li  onclick="setInpt('currentdistrict','<%=district%>',this.innerHTML)"><a ><span class="item"><%= district %></span></a></li>
        <%end %>
      </ul>
  </div>
  <% if not @query == "individual_current_enrollments" %>
                <div id="date_range" class="right" style="visibility:hidden">
                    <ul>
                      <% @date_range_values.each do |range| %>
                            <li onclick="setInpt('report_date_range','<%=range[1]%>',this.innerHTML)"><a><%=range[0]%></a></li>
                      <%end %>
                    </ul>
                </div>
            <% if @report_type.downcase != 'tips' && @report_type.downcase != 'family_planning' %>
                <%if @query != "new_vs_repeat_callers" && @query != "follow_up" %>
                     <div id="p_type" class="right" style="visibility:hidden">
                        <ul>
                          <% @patient_type.each do |type| %>
                               <li onclick="setInpt('patient_type','<%=type%>',this.innerHTML)"><a><%=type%></a></li>
                          <%end %>
                        </ul>
                    </div>
                <%end%>
            <% end %>
            <div id="group" class="right" style="visibility:hidden">
                <ul>
                  <% @grouping.each do |group| %>
                        <li onclick="setInpt('grouping','<%=group[1]%>',this.innerHTML)"><a><%=group[0]%></a></li>
                  <%end %>
                </ul>
            </div>
             <%if @query == "health_issues"%>
                <div id="tasks" class="right" style="visibility:hidden">
                    <ul>
                      <% @health_task.each do |task| %>
                            <li onclick="setInpt('health_task','<%=task%>',this.innerHTML)"><a><%=task%></a></li>
                      <%end %>
                    </ul>
                </div>
            <%end%>

            <%if @query == "referral_followup"%>
                <div id="outcom" class="right" style="visibility:hidden">
                    <ul>
                      <% @outcomes.each do |outcome| %>
                            <li onclick="setInpt('outcome','<%=outcome%>',this.innerHTML)"><a><%=outcome%></a></li>
                      <%end %>
                    </ul>
                </div>
            <%end%>

            <% if @report_type.downcase == 'call_analysis'%>
              <%if @query != "new_vs_repeat_callers" && @query != "follow_up" %>
                <div id="staff" class="right" style="visibility:hidden">
                    <ul>
                      <% @staff.each do |staf| %>
                            <li onclick="setInpt('staff_member','<%=staf[1]%>',this.innerHTML)"><a><%=staf[0]%></a></li>
                      <%end %>
                    </ul>
                </div>
                <div id="c_type" class="right" style="visibility:hidden">
                    <ul>
                      <% @call_type.each do |c_type| %>
                            <li onclick="setInpt('call_type','<%=c_type%>',this.innerHTML)"><a><%=c_type%></a></li>
                      <%end %>
                    </ul>
                </div>
              <%end%>
            <% elsif @report_type.downcase == 'tips' %>
                  
                  <div id="cont_type" class="right" style="visibility:hidden">
                      <ul>
                        <%  @content_type.each do |cont_type| %>
                              <li onclick="setInpt('content_type','<%=cont_type[1]%>',this.innerHTML)"><a><%=cont_type[0]%></a></li>
                        <%end %>
                      </ul>
                  </div>
                  <div id="lan" class="right" style="visibility:hidden">
                      <ul>
                        <%  @language.each do |lan| %>
                              <li onclick="setInpt('language','<%=lan[1]%>',this.innerHTML)"><a><%=lan[0]%></a></li>
                        <%end %>
                      </ul>
                  </div>
              <% if @query != 'current_enrollment_totals' %>
                  <div id="phone" class="right" style="visibility:hidden">
                      <ul>
                        <%  @phone_type.each do |phone| %>
                              <li onclick="setInpt('phone_type','<%=phone[1]%>',this.innerHTML)"><a><%=phone[0]%></a></li>
                        <%end %>
                      </ul>
                  </div>
              <% end %>
                  <div id="tips" class="right" style="visibility:hidden">
                      <ul>
                        <%  @delivery.each do |delivery| %>
                              <li onclick="setInpt('delivery','<%=delivery[1]%>',this.innerHTML)"><a><%=delivery[0]%></a></li>
                        <%end %>
                      </ul>
                  </div>
                    <div id="network" class="right" style="visibility:hidden">
                      <ul>
                        <% @network_prefix.each do |prefix| %>
                              <li onclick="setInpt('network_prefix','<%=prefix[1]%>',this.innerHTML)"><a><%=prefix[0]%></a></li>
                        <%end %>
                      </ul>
                  </div>
            <% end %>
       <% end %>
  </fieldset>
</div>

<!--div style="position:absolute;width:100%; bottom:8%" id="actions">
		<button class="button red" style="float:left" id="actions"  onclick="window.location ='/report'"><span>Back</span></button>
        <button  class="button green" onclick="submitForm()" style="float:right" >
           <span>Finish</span>
        </button>
      
</div-->
<script type="text/javascript">

    jQuery('#currentdistrict').focus();
   	jQuery("#main-div fieldset").css("height",window.innerHeight * 0.65);
    window.onresize = function(){
        jQuery("#main-div fieldset").css("height",window.innerHeight * 0.65);
    }
    var options = {
	  valueNames: [ 'item']
	};

	var userList = new List('district_div', options);
	jQuery(".list").css({"border":"none","overflow-y":"visible","overflow-x":"visible"});
	
</script>
