<%= render :partial => 'header' %>
<style type="text/css">
    #main-div{
      width: 98%;
      margin: auto;
      margin-top: 1%;
    }
    #main-div fieldset{
      height: 500px;
       border-radius: 1%;
    }
    #left{
      width: 50%;
      float:left;
      height: 100px;
    
    }
    .right{
      position: absolute;
      right: 2%;
      top :15%;
      width:48%;
      visibility: hidden;
      height: 300px;
      float:right;
      overflow-y :scroll;
    }
    #filter_table td {
        padding: 2%;
        font-size: 20px;
        width: 50%;
        font-weight: bold;

    }
    ul {
      list-style: none;
      padding: 1%;
    }
    li{
      text-indent: 2%;
      display: block;
      font-size: 20px;
      font-weight: bold;
      padding: 1%;
      background: #e2dfdf;
    }
    li:hover{
      background: #b4c6cf;
    }
    li:active{
      background: #b4c6cf;
    }
    input{
       width: 100%;
       height:25px;
       font-size:20px;
       border: 2px solid #e2dfdf;
    }
</style>
<script type="text/javascript">
      var date_ranges = <%= raw @report_date_range.to_json%>;
      var inputs = {}
      var UpdateInputHash = function(hash, newKey, newVal, fn, bind){
        var prevKey=null, prevVal=null, inserted=false, newhash={};
        for(var currKey in hash){
          if (hash.hasOwnProperty(currKey)){
            var currVal = hash[currKey];
            if( !inserted && fn.call(bind, prevKey, prevVal, currKey, currVal) ){
              newhash[newKey] = newVal;
              inserted=true;
            }
            newhash[currKey] = currVal;
            prevKey = currKey;
            prevVal = currVal;
          } 
        }
        if(!inserted) newhash[newKey] = newVal;
        return newhash;
      };
      function setDateRange(quarter){
          var date_range;
          //quarter     = $(quarter).value;
          date_range  = date_ranges[quarter];
          inputs = UpdateInputHash(inputs,'start_date',date_range[0], function(pk, pv, nk, nv){ 
                    return (nk=='Earl'); 
                  });
          inputs = UpdateInputHash(inputs,'end_date',date_range[1], function(pk, pv, nk, nv){ 
                    return (nk=='Earl'); 
                  });
      }
      function setInpt(id,value,text){
        if(id =="report_date_range"){
            setDateRange(value);
        }else{
          inputs = UpdateInputHash(inputs,id,value, function(pk, pv, nk, nv){ 
                    return (nk=='Earl'); 
                  });
        }
          document.getElementById(id).value = text.replace("<a>", "").replace("</a>",""); 
      }
      function changeDiv(id){
        jQuery(".right").css("visibility","hidden");
        jQuery("#"+id).css('visibility','visible');
      }
      function submitForm(){
          var form = document.createElement("form");
          form.setAttribute("method", "POST");
          form.setAttribute("action", "reports");
          var input = document.createElement("input");
          input.setAttribute("type","hidden");
          input.value = inputs['currentdistrict'];
          form.appendChild(input);
          document.getElementById("actions").appendChild(form);
          form.submit();
      }
</script>
<div  id="main-div">
  <fieldset>
  <legend>Report Filters</legend>
  <div id="left">
    <table id="filter_table">
      <thead>
      </thead>
      <tbody>
        <tr>
            <td>District</td>
            <td>
                <input name="currentdistrict" id="currentdistrict" onfocus="changeDiv('district')">
            </td>
        </tr>
        <% if not @query == "individual_current_enrollments" %>
                    <tr>
                        <td>Date Range</td>
                        <td>
                            <input name="report_date_range" id="report_date_range" onfocus="changeDiv('date_range')">
                        </td>
                    </tr>
            <% if @report_type.downcase != 'tips' && @report_type.downcase != 'family_planning' %>
                <%if @query != "new_vs_repeat_callers" && @query != "follow_up" %>
                  <tr>
                      <td>Patient Type</td>
                      <td>
                          <input name="patient_type" id="patient_type" onfocus="changeDiv('p_type')">
                      </td>
                  </tr>
                <%end%>
            <% end %>
                <tr>
                    <td>Grouping Criterion</td>
                    <td>
                         <input name="grouping" id="grouping" onfocus="changeDiv('group')">
                    </td>
                </tr>
             <%if @query == "health_issues"%>
               <tr>
                    <td>Health Task</td>
                    <td>
                       <input name="health_task" id="health_task" onfocus="changeDiv('tasks')">
                    </td>
              </tr>
              <div id="task" class="right">
                  <ul>
                    <% @health_task.each do |task| %>
                         <li><%=task%></li>
                    <%end %>
                  </ul>
              </div>
            <%end%>

            <%if @query == "referral_followup"%>
            <tr>
                    <td>Outcome</td>
                    <td>
                       <input name="outcome" id="outcome" onfocus="changeDiv('outcom')">
                    </td>
            </tr>
            <%end%>

            <% if @report_type.downcase == 'call_analysis'%>
              <%if @query != "new_vs_repeat_callers" && @query != "follow_up" %>
                <tr>
                    <td>Staff to Report on</td>
                    <td>
                         <input name="staff_member" id="staff_member" onfocus="changeDiv('staff')">
                     </td>
                </tr>
                <tr>
                    <td>Call type</td>
                    <td>
                        <input name="call_type" id="call_type" onfocus="changeDiv('c_type')">
                    </td>
                </tr>
              <%end%>
            <% elsif @report_type.downcase == 'tips' %>
                  <tr>
                    <td>Content to Report on</td>
                       <input name="content_type" id="content_type" onfocus="changeDiv('content')">
                    <td>
                      
                    </td>
                  </tr>
                  <tr>
                    <td>Language to Report on</td>
                    <td>
                         <input name="language" id="language" onfocus="changeDiv('lan')">
                    </td>
                  </tr>
              <% if @query != 'current_enrollment_totals' %>
                  <tr>
                    <td>Phone Type</td>
                    <td>
                         <input name="phone_type" id="phone_type" onfocus="changeDiv('phone')">
                    </td>
                  </tr>
              <% end %>
                  <tr>
                    <td>Tips Delivery Mode</td>
                    <td>
                       <input name="delivery" id="delivery" onfocus="changeDiv('tips')">
                    </td>
                  </tr>
                  <tr>
                    <td>Number Prefix</td>
                    <td>
                         <input name="network_prefix" id="network_prefix" onfocus="changeDiv('network')">
                    </td>
                  </tr>
            <% end %>
       <% end %>
        <!--tr>
              <td>Destination</td>
              <td><%= select_tag :report_destination,     options_for_select(@destination),
                {:helpText => "Select report destination"} %></td>
        </tr-->
      </tbody>
    </table>
  </div>
  <div id="district" class="right" style="visibility:hidden">
      <ul>
        <% @districts.sort.each do |district| %>
              <li onclick="setInpt('currentdistrict','<%=district%>',this.innerHTML)"><a ><%= district %></a></li>
        <%end %>
      </ul>
  </div>
  <% if not @query == "individual_current_enrollments" %>
                <div id="date_range" class="right">
                    <ul>
                      <% @date_range_values.each do |range| %>
                            <li onclick="setInpt('report_date_range','<%=range[1]%>',this.innerHTML)"><a><%=range[0]%></a></li>
                      <%end %>
                    </ul>
                </div>
            <% if @report_type.downcase != 'tips' && @report_type.downcase != 'family_planning' %>
                <%if @query != "new_vs_repeat_callers" && @query != "follow_up" %>
                     <div id="p_type" class="right">
                        <ul>
                          <% @patient_type.each do |type| %>
                               <li onclick="setInpt('patient_type','<%=type%>',this.innerHTML)"><a><%=type%></a></li>
                          <%end %>
                        </ul>
                    </div>
                <%end%>
            <% end %>
            <div id="group" class="right">
                <ul>
                  <% @grouping.each do |group| %>
                        <li onclick="setInpt('grouping','<%=group[1]%>',this.innerHTML)"><a><%=group[0]%></a></li>
                  <%end %>
                </ul>
            </div>
             <%if @query == "health_issues"%>
                <div id="tasks" class="right">
                    <ul>
                      <% @health_task.each do |task| %>
                            <li onclick="setInpt('health_task','<%=task%>',this.innerHTML)"><a><%=task%></a></li>
                      <%end %>
                    </ul>
                </div>
            <%end%>

            <%if @query == "referral_followup"%>
                <div id="outcom" class="right">
                    <ul>
                      <% @outcomes.each do |outcome| %>
                            <li onclick="setInpt('outcome','<%=outcome%>',this.innerHTML)"><a><%=outcome%></a></li>
                      <%end %>
                    </ul>
                </div>
            <%end%>

            <% if @report_type.downcase == 'call_analysis'%>
              <%if @query != "new_vs_repeat_callers" && @query != "follow_up" %>
                <div id="staff" class="right">
                    <ul>
                      <% @staff.each do |staf| %>
                            <li onclick="setInpt('staff_member','<%=staf[1]%>',this.innerHTML)"><a><%=staf[0]%></a></li>
                      <%end %>
                    </ul>
                </div>
                <div id="c_type" class="right">
                    <ul>
                      <% @call_type.each do |c_type| %>
                            <li onclick="setInpt('call_type','<%=c_type%>',this.innerHTML)"><a><%=c_type%></a></li>
                      <%end %>
                    </ul>
                </div>
              <%end%>
            <% elsif @report_type.downcase == 'tips' %>
                  Content and Language
              <% if @query != 'current_enrollment_totals' %>
                  Phone
              <% end %>
                  Delivery and Prefix
            <% end %>
       <% end %>
  </fieldset>
</div>

<div style="position:absolute;right:2%; bottom:8%" id="actions">
        <button  class="button green" onclick="submitForm()">
           <span>Finish</span>
        </button>
      <button class="button red"  onclick="window.location ='/report'"><span>Back</span></button>
</div>
<script type="text/javascript">
    jQuery('#currentdistrict').focus();
</script>
<%= render :partial => 'footer' %>
