<script>

  var tt_cancel_destination = "/manage_user"

</script>

<%= form_tag("/user/update", id: "update-form", method: 'post', enctype: 'multipart/form-data') do %>i
<input name="user_id" id="user_id" type="hidden" value="<%=params[:user_id] %>">

<%= text_field_tag "person[names][given_name]", params[:firstname],
                     {:id => 'given_name', :field_type => 'alpha',
                      :helpText => 'First name',
                      :ajaxURL => '/patient/given_names?search_string=',
                      :allowFreeText => true }%>
  
  <%= text_field_tag "person[names][family_name]", params[:lastname],
                     {:id => 'family_name',
                      :field_type => 'alpha',
                      :helpText => 'Last name',
                      :ajaxURL => '/patient/family_names?search_string=',
                      :allowFreeText => true }%>

  <%= select_tag("person[gender]", options_for_select(['','Male','Female'] ,params[:gender]),
      :helpText =>"Gender",
      :id => "gender",
      :allowFreeText => false)
  %>

 <%if User.current.admin?%>
   <%#= text_field_tag "user[username]", params[:username],
                       {:id => 'username', :field_type => 'alpha',
                        :helpText => 'Username',
                        :ajaxURL => '/user/username?search_string=',
                        :allowFreeText => true }%>

    <%= @roles = ['Administrator', 'Provider'] %> 
    <%= select_tag("user[role]", options_for_select(@roles ,params[:role]),
        :helpText =>"Role",
        :id => "role",
        :allowFreeText => false) %>
	
   <%= password_field_tag "user[password]", params[:password],
                       {:id => 'password', :field_type => 'alpha',
                        :helpText => 'Password',
                        :ajaxURL => '/person_names/given_names?search_string=',
                        :allowFreeText => true }%>

    <%= password_field_tag "user[confirm password]", params[:confirm_password],
                       {:id => 'confirm_password', :field_type => 'alpha',
                        :helpText => 'Confirm Password',
                        :ajaxURL => '/person_names/given_names?search_string=',
                        :allowFreeText => true }%>

  <%end%>

  <label for='summary'>Summary</label>
	<%= text_field_tag :summary, nil, { :tt_onLoad => "summary();__$('keyboard').style.display = 'none';", 
      :optional => "true", 
      :tt_pageStyleClass => "NoControls" } %>

<%end%>

<script>

function summary() {

 <%if User.current.admin?%>
    var first_name = document.getElementById('given_name').value;
    var last_name = document.getElementById('family_name').value;
    var gender = document.getElementById('gender').value;
    var role = document.getElementById('role').value;
    var password = document.getElementById('password').value;
    var confirm_password = document.getElementById('confirm_password').value;

    display = "<div><span class='title'>First Name:</span><span class='data'> " + first_name + "</span></div>";
    display += "<div><span class='title'>Last Name:</span><span class='data'> " + last_name + "</span></div>";
    display += "<div><span class='title'>Gender:</span><span class='data'> " + gender + "</span></div>";
    display += "<div><span class='title'>Role:</span><span class='data'> " + role + "</span></div>";
    if(password != confirm_password) {
      display += "<div><span class='title mismatch'>Password mismatch:&nbsp;</span><span class='data mismatch'> New password will not be saved</span></div>";
    }else{
      display += "<div><span class='title'>Password match:</span><span class='data match'>The two passwords match</span></div>";
    }

  <%else%>
    var first_name = document.getElementById('given_name').value;
    var last_name = document.getElementById('family_name').value;
    var gender = document.getElementById('gender').value;

    var display = "<div><span class='title'>First Name:</span><span class='data'> " + first_name + "</span></div>";
    display += "<div><span class='title'>Last Name:</span><span class='data'> " + last_name + "</span></div>";
    display += "<div><span class='title'>Gender:</span><span class='data'> " + gender + "</span></div>";
  <%end%>

	$('inputFrame'+tstCurrentPage).innerHTML = '<div id="summary">' + display + '</div>' ;
	$("clearButton").style.display = "none";
		

}

</script>

<style>
.title {
  font-size: 50px;
}

.match {
  color: green !important;
}

.mismatch {
  color: red !important;
}

.data {
  font-size: 40px;
  color: orangered;
}
</style>

