<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <!--link rel="stylesheet" href="/stylesheets/background.css" type="text/css"-->

    <% @title = "#{controller.controller_name.humanize} #{controller.action_name.humanize}" rescue ""  %>
    <script language="javascript" defer="true">
      <!--
      tstUsername = "<%= "" %>";
      tstUserKeyboardPref = "<%= "abc" %>";

  tstCurrentDate = "<%= (session[:datetime] ? session[:datetime].to_date.strftime("%Y-%m-%d") :
    Date.today.strftime("%Y-%m-%d")) %>";

  function addHereButton(){
    var button = document.createElement("button");
    button.id = "addHere";
    button.innerHTML = "<span>Here</span>";
    button.style.cssFloat = "right";

    button.onclick = function(){
      __$("touchscreenInput" + tstCurrentPage).value = "<%= Location.current_health_center.name rescue "" %>"
    }

    if(__$("buttons")){
      __$("buttons").appendChild(button);
    }
  }

  function removeHereButton(){
    if(__$("addHere")){
      __$("buttons").removeChild(__$("addHere"));
    }
  }

  function getSelected(){
    var choices = "";

    for(var o = 0; o < __$('choice').options.length; o++){
      if(__$('choice').options[o].selected == true){
        choices += __$('choice').options[o].innerHTML + " ";
      }
    }

    return choices;
  }

      var currentKey = ""
      //var currentConcept = "Potential chest indrawing";
      var currentConcept = "";
      function loadArticles(){

          jQuery.ajax({
              type: "POST",
              url: "/home/retrieve_articles",
              data: "concept=" + currentConcept,
              success: function(results){
                  results = eval("(" + results  + ")");
                  currentKey = results["key"];
                  title = results["data"]["title"];
                  body = results["data"]["body"];
                  author = results["data"]["author"];

                  popupHeader = document.getElementsByClassName("popup-header")[0];
                  popupHeader.innerHTML = title;
                  popupContent = document.getElementsByClassName("popup-data")[0];
                  popupContent.innerHTML = body;
              }

          });
      }

      function loadNextArticle(){
          jQuery.ajax({
              type: "POST",
              url: "/home/next_article",
              data: "key=" + currentKey,
              success: function(results){
                  results = eval("(" + results  + ")");
                  currentKey = results["key"];
                  title = results["data"]["title"];
                  body = results["data"]["body"];
                  author = results["data"]["author"];
                  disabled = (results["disabled"]);
                  console.log(disabled == true);
                  nextButton = document.getElementsByClassName("nextButton")[0];
                  prevButton = document.getElementsByClassName("prevButton")[0];
                  if (disabled == true){
                      nextButton.style.backgroundColor = 'gray';
                      prevButton.style.backgroundColor = '#6495ED';
                  }else{
                      nextButton.style.backgroundColor = '#6495ED';
                      prevButton.style.backgroundColor = '#6495ED';
                  }
                  popupHeader = document.getElementsByClassName("popup-header")[0];
                  popupHeader.innerHTML = title;
                  popupContent = document.getElementsByClassName("popup-data")[0];
                  popupContent.innerHTML = body;
              }

          });
      }

      function loadPrevArticle(){

          jQuery.ajax({
              type: "POST",
              url: "/home/previous_article",
              data: "key=" + currentKey,
              success: function(results){
                  results = eval("(" + results  + ")");
                  currentKey = results["key"];
                  title = results["data"]["title"];
                  body = results["data"]["body"];
                  author = results["data"]["author"];
                  disabled = (results["disabled"]);
                  prevButton = document.getElementsByClassName("prevButton")[0];
                  nextButton = document.getElementsByClassName("nextButton")[0];
                  if (disabled == true){
                      prevButton.style.backgroundColor = 'gray';
                      nextButton.style.backgroundColor = '#6495ED';
                  }else{
                      prevButton.style.backgroundColor = '#6495ED';
                      nextButton.style.backgroundColor = '#6495ED';
                  }

                  popupHeader = document.getElementsByClassName("popup-header")[0];
                  popupHeader.innerHTML = title;
                  popupContent = document.getElementsByClassName("popup-data")[0];
                  popupContent.innerHTML = body;
              }

          });
      }

      function setListAttributes(){
          liElements = document.getElementsByTagName("li");
          for (i=0; i <= liElements.length - 1; i++){
              liElements[i].onmouseup = function(){
                  currentConcept = this.getAttribute("tstvalue");
              }
          }
      }

  //-->
    </script>

    <script language="javascript" type="text/javascript" src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>

    <%#= javascript_include_tag "custom" %>

  </head>
  <body id="mateme">
    <div id="container">
      <div id="content">
        <div id="description" style="color:#777;position:absolute;margin-top:-70px;">
          <!-- show text -->
        </div>
        <% unless flash[:notice].nil? %>
          <p id="flash_notice" style="color: green"><%= flash[:notice] %></p>
        <% end %>
        <% unless flash[:error].nil? %>
          <p id="flash_error" style="color: red"><%= flash[:error] %></p>
        <% end %>
        <%= yield %>
        <div id="footer">
        </div>
      </div>
    </div>
  </body>
</html>
